@import './colors.scss';
@import './animation.scss';

.banner{
  height: 52.272727272727vh;
  position: relative;
  &:before{
      content: "";
      background: rgba(1, 64, 95, 0.8);
      background:transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .banner-bg{
    background-size: cover;
    background-position: center center;
    &.banner-bottom{
      background-position: center bottom;
    }
    &.banner-top{
      background-position: center top;
    }
  }
  .content-wr{
    padding:1.875rem 0;
    box-sizing: content-box;
    &.v1{
    }
  }
  .title{
    font-family: 'Avenir Next';
    font-size: 3.75rem;
    font-size: 3rem;
  }
}

//old dac
.banner{
  .desc{
    font-family: 'Hind-Madurai';
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .scroll-to-wr {
    bottom: 1rem;
  }
}

.scroll-to-wr {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  z-index: 9;
}
.scroll-to {
  padding: 10px;
  padding:0.625rem;
  pointer-events: all;
  display: inline-block;
 .icon{
   display:block;
   height: 1.3751rem;
    width: auto;
 }
}
.scroll-to:hover .icon{
  -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@media (max-width: 1024px){
  .banner {
    max-height: 250px;
    max-height: 15.625rem;
  }
}