$brand: #004165;
$brand-accent:#019ACF;
$brand-accent-light:#CBDEE4;
$brand-accent-2nd:#B42971;
$dark: red;
$midnight: #343a40;
$shade: #9d9d9d;
$brand-light: #2b6987;
$brand-lighter: #4a8cac;
$brand-light-shade:#496d7c;
$brand-dark: #022739;
$brand-dark-text: #142f3c;
$brand-darker: #001a27;
$brand-darkest: #00141e;
$accent-color: #4c4c4c;
$accent: #07507c;
$accent: #1c6fa4;
$accent-light:#dbbea2;

$link: #809fae;
$shade01: #7c7c7c;
$lightblue: #ecf0f1;
$text-dark: #4b4b4b;

$light01: #fff;
$light01-a: #f2f5f5;
$light02: #ecf0f1;
$light03: #e5e8e9;
$light04: #dddfe0;
$light05: #e6e9ea;

$bg-light01: $light01;
$bg-light02: $light02;
$bg-light03: $light03;
$bg-light04: $light04;
$bg-lightblue01: $lightblue;

$lightActive: #f6f8f9;
$lightSub: #fbfbfb;
$lightSubtext: #abc9d5;