/*
HelveticaNeue_light
HelveticaNeue_condensed
HelveticaNeue_medium
HelveticaNeue_bold
HelveticaNeue_extblackcond
*/


@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Bold.eot');
  src: url('../assets/fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('../assets/fonts/AvenirNext-Bold.woff') format('woff'),
      url('../assets/fonts/AvenirNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Regular.eot');
  src: url('../assets/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../assets/fonts/AvenirNext-Regular.woff') format('woff'),
      url('../assets/fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Medium.eot');
  src: url('../assets/fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('../assets/fonts/AvenirNext-Medium.woff') format('woff'),
      url('../assets/fonts/AvenirNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/hinted-GothamRounded-Book.eot');
  src: local('Gotham Rounded Book'), local('GothamRounded-Book'),
      url('../assets/fonts/hinted-GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/hinted-GothamRounded-Book.woff2') format('woff2'),
      url('../assets/fonts/hinted-GothamRounded-Book.woff') format('woff'),
      url('../assets/fonts/hinted-GothamRounded-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/hinted-GothamRounded-Bold.eot');
  src: local('Gotham Rounded Bold'), local('GothamRounded-Bold'),
      url('../assets/fonts/hinted-GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/hinted-GothamRounded-Bold.woff2') format('woff2'),
      url('../assets/fonts/hinted-GothamRounded-Bold.woff') format('woff'),
      url('../assets/fonts/hinted-GothamRounded-Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/hinted-GothamRounded-Medium.eot');
  src: local('Gotham Rounded Medium'), local('GothamRounded-Medium'),
      url('../assets/fonts/hinted-GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/hinted-GothamRounded-Medium.woff2') format('woff2'),
      url('../assets/fonts/hinted-GothamRounded-Medium.woff') format('woff'),
      url('../assets/fonts/hinted-GothamRounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaLight.eot');
  src: url('../assets/fonts/FuturaLight.eot') format('embedded-opentype'),
       url('../assets/fonts/FuturaLight.woff2') format('woff2'),
       url('../assets/fonts/FuturaLight.woff') format('woff'),
       url('../assets/fonts/FuturaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaHeavy.eot');
  src: url('../assets/fonts/FuturaHeavy.eot') format('embedded-opentype'),
       url('../assets/fonts/FuturaHeavy.woff2') format('woff2'),
       url('../assets/fonts/FuturaHeavy.woff') format('woff'),
       url('../assets/fonts/FuturaHeavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}




// old unused



@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeue_light.eot');
  src: url('../assets/fonts/HelveticaNeue_light.eot') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeue_light.woff2') format('woff2'),
       url('../assets/fonts/HelveticaNeue_light.woff') format('woff'),
       url('../assets/fonts/HelveticaNeue_light.ttf') format('truetype'),
       url('../assets/fonts/HelveticaNeue_light.svg#HelveticaNeue_light') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src:  url('../assets/fonts/HelveticaNeue_condensed.eot');
  src:  url('../assets/fonts/HelveticaNeue_condensed.eot') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeue_condensed.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue_condensed.woff') format('woff'),
        url('../assets/fonts/HelveticaNeue_condensed.ttf') format('truetype'),
        url('../assets/fonts/HelveticaNeue_condensed.svg#HelveticaNeue_condensed') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url('../assets/fonts/HelveticaNeue_medium.eot');
  src: url('../assets/fonts/HelveticaNeue_medium.eot') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeue_medium.woff2') format('woff2'),
       url('../assets/fonts/HelveticaNeue_medium.woff') format('woff'),
       url('../assets/fonts/HelveticaNeue_medium.ttf') format('truetype'),
       url('../assets/fonts/HelveticaNeue_medium.svg#HelveticaNeue_medium') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: url('../assets/fonts/HelveticaNeue_bold.eot');
  src: url('../assets/fonts/HelveticaNeue_bold.eot') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeue_bold.woff2') format('woff2'),
       url('../assets/fonts/HelveticaNeue_bold.woff') format('woff'),
       url('../assets/fonts/HelveticaNeue_bold.ttf') format('truetype'),
       url('../assets/fonts/HelveticaNeue_bold.svg#HelveticaNeue_bold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeue_extblackcond.eot');
  src: url('../assets/fonts/HelveticaNeue_extblackcond.eot') format('embedded-opentype'),
       url('../assets/fonts/HelveticaNeue_extblackcond.woff2') format('woff2'),
       url('../assets/fonts/HelveticaNeue_extblackcond.woff') format('woff'),
       url('../assets/fonts/HelveticaNeue_extblackcond.ttf') format('truetype'),
       url('../assets/fonts/HelveticaNeue_extblackcond.svg#HelveticaNeue_extblackcond') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/cairo-regular.eot');
  src: url('../assets/fonts/cairo-regular.eot') format('embedded-opentype'),
       url('../assets/fonts/cairo-regular.woff2') format('woff2'),
       url('../assets/fonts/cairo-regular.woff') format('woff'),
       url('../assets/fonts/cairo-regular.ttf') format('truetype'),
       url('../assets/fonts/cairo-regular.svg#cairo-regular') format('svg');
  font-weight: 300;
  font-style: normal;
}