@import './colors.scss';

/*** placeholder ***/
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

/*** placeholder end ***/
footer.footer{
    background-color:#1d1d1d;
    .sitemap{
        padding-top: 1.5625rem;
        padding-bottom: 9.375rem;
        .title{
            color: #fff;
            font-size: 1rem;
            margin-bottom: 18px;
            margin-bottom: 1.125rem;
        }
        ul{
            margin: 0;
            li{
                margin: 0 0 1.25rem 0;
                line-height: 1;
                a{
                    color:#fff;
                    line-height: 1;
                    font-size: 0.9375rem;
                    font-weight: 100;
                    margin: 0;
                    position: relative;
                    text-decoration: none;
                    &:after {
                        content: '';
                        position: absolute;
                        transition: all .5s ease;
                        left: 0;
                        width: 0%;
                        background: #fff;
                        /*transform:  scaleX(0);*/
                        bottom: -0.1875rem;
                        height: 0.0625rem;
                    }
                    &:hover:after {
                        /*transform:  scaleX(1);*/
                        width: 100%;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }    
        .form-control{
            color:#fff;
            background-color: transparent;
            border:0;
            border-bottom: 0.0625rem solid #979797;
            padding: 0.9375rem 0;
            font-weight: 100;
            @include placeholder {
                color:rgba(255, 255, 255, .65);
            }
            &:focus {
                @include placeholder {
                    color:#fff;
                }
            }
        }
        .input-group-append{
            .btn{
                color:#fff;
                font-size: 1rem;
                font-weight: 700;
                background:transparent;
                padding-left: 0;
                padding-right: 0;
                border-bottom: 0.0625rem solid #979797;
                z-index: 0;
                .btn-icon-wr{
                    margin: 0 0 0 0.9375rem;
                    svg *{
                        stroke: #fff;
                    }
                }
            }
        }
    }
    
    .social-wr{
        color:#fff;
        .title{
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0 1.875rem 0 0;
        }
        .social-links li{
            margin:0 .75rem;
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                margin-right:0;
            }
            .social-link{
                font-size:1.25rem;
                transition:.35s;
                color:#fff;
                &:hover{
                    color:#fff;
                }
            }
        }
    }

    
    
    .footer-top{
        padding: 50px 0 25px;
        
        .btn-dark{
            padding: 1rem;
            &:focus,&:hover {
                background-color:$brand;
                border-color:$brand;
            }
        }
        
    }
    .copyright{
        color: rgba(255, 255, 255, .45);
        font-weight: 100;
        font-size: 0.875rem;
    }
}

@media screen and (max-width:480px) {
    footer.footer .copyright {
        font-size: .67rem;
    }
    footer.footer .sitemap {
        padding-top: 24px;
        padding-bottom: 14px;
    }
}

@media screen and (max-width:360px) {
    .hero-banner .slide-title {
        font-size: 2.6rem;
    }      
    footer.footer .copyright {
        font-size: .65rem;
    }
    .scroll-to-wr {
        bottom: .8rem;
    }
}