@import './colors.scss';
/*** menu ***/
.floating-menu-wr{
  position: fixed;
  right: 0;
  left: auto;
  top: auto;
  bottom: 45.5%;
  bottom: calc(62vh - 172px);
  z-index: 9;
  padding: 1.125rem 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 0.875rem -0.625rem rgba(0, 0, 0, 0.5);
  margin: auto;
  display: table;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  &.not-banner{
    bottom:0;
  }
  .floating-fp-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      font-size: 0;
      margin: 0.8125rem 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
      a{
        .dot{
          border: 0.0625rem solid #CACDCE;
          width: 0.4375rem;
          height: 0.4375rem;
          border-radius: 50%;
          display: inline-block;
          background-color:rgba(4, 122, 154, 0);
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
        }
      }
      &.active{
        a{
          .dot{
            background-color:rgba(4, 122, 154, 1);
            border-color:rgba(4, 122, 154, 0);
          }
        }
      }
    }
  }
  .social-links{
    &:before {
        content: "";
        width: 0.0625rem;
        height: 0.3125rem;
        margin: 1.25rem auto;
        background: #D8D8D8;
    }
    li{
      margin:8px 0;
      line-height: 1;
      font-size: 0.875rem;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color:#CACDCE;
        font: 0.875rem;
        &:hover{
          color:rgba(4, 122, 154, 1);
        }
      }
    }
  }
}



.navigation-wr{
  &.sticky-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .inner-wr {
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  .overlay {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 8%, #000000 87%);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5rem;
    height: 23.4375rem;
    z-index: 2;
    pointer-events: none;
  }
}

/*.navigation-wr:before,*/



.navbar{
  padding: 0.9375rem 1.75rem;
  @media screen and (max-width: 480px) {
    padding: 0.6667rem 1.25rem;
  }
  @media screen and (max-width: 480px) {
    .nav-main-wr {
      position: absolute;
      height: calc(100vh - 4.8333rem);
      top: 4.8333rem;
      left: 0;
      right: 0;
      z-index: 9;
      display: flex;
      width: 100vw;
      align-content: center;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
      transform: scale(0.85);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.8s ease;
      -webkit-filter: blur(8px);
      -moz-filter: blur(8px);
      -o-filter: blur(8px);
      -ms-filter: blur(8px);
      filter: blur(8px);
      &.toggled{
        opacity: 1;
        pointer-events: all;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
      }
      .navbar-nav {
        width: 75%;
        .nav-item {
          .nav-link {
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.35);
            font-size: 24px;
            padding: 1rem 3rem;
            opacity: .85;
            text-align: center;
          }
          &:last-child{
            .nav-link {
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }
  }
  &.navbar-light .target-burger{
    border:none;
    padding: 0;
    height: 3.5rem;
    margin: 0;
    background:transparent;
    &.toggled{
      .ham4 .top {
        stroke-dashoffset: -68px;
      }
      .hamRotate {
        transform: rotate(45deg);
      }
      .ham4 .bottom {
        stroke-dashoffset: -68px;
      }
    }
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .line {
      fill:none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke:#000;
      stroke-width:5.5;
      stroke-linecap:round;
    }
    
    .ham4 .top {
      stroke-dasharray: 40 121;
    }
    .ham4 .bottom {
      stroke-dasharray: 40 121;
    }
    
    
    
  }
  .navbar-brand {
    font-size: 0.0625rem;
    line-height: 4.375rem;
    height:4.375rem;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 480px) {
      line-height: 3.5rem;
      height:3.5rem;
    }
    h1 {
      margin: 0;
      font-size: 0.0625rem;
      .logo-link{
        display: inline-block;
        .logo-wr {
          width: 4.375rem;
          height: 4.375rem;
          display: block;
          position: relative;
          @media screen and (max-width: 480px) {
            width: 3.5rem;
            height:3.5rem;
          }
          .logo{
            width: 143%;
            max-width: unset;
            position: absolute;
            left: -24%;
            top: -21%;
            right: 0;
            margin: auto;
          }
        }
      }
    }
  }

  //menu links
  .navbar-nav{
    .nav-item{
      margin:0 10px;
      .nav-link{
        text-transform: uppercase;
        font-size: 0.875rem;
        opacity: 0.5;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
        letter-spacing: 0.4863rem;
        &.nav-lang{
          letter-spacing: 0;
        }
        &:hover{
          opacity: 1;
        }
      }
      &.active{
        .nav-link{
          color:$brand-accent;
          opacity: 1;
        }
      }
    }
  }
}


.nav-btn-wr .btn-link {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
  .text:after {
    content: "";
    position: absolute;
    transition: transform .5s ease;
    left: 0;
    bottom: -0.1875rem;
    width: 100%;
    height: 0.0625rem;
    background-color: #fff;
    transform: scaleX(0);
  }
  &:hover .text:after {
    transform: scaleX(1);
  }
  .nav-btn-icon, .text {
    margin: 0 0.3125rem;
    position: relative;
  }
}

.target-burger {
  margin: 1.125em;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  &:hover {
    cursor: pointer;
    /*-webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    opacity: 0.45;*/
    color: #fff;
    text-decoration: none;
  }
  &.toggled span.buns span.bun {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    &:last-child {
      -webkit-transform: rotate(-45deg) translateZ(0);
      transform: rotate(-45deg) translateZ(0);
    }
  }
  .buns, .text {
    margin: 0 0.625rem;
    position: relative;
  }
  span.buns {
    display: inline-block;
    width: 2.875rem;
    height: 2.875rem;
    margin: 0 0;
    padding: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
    span.bun {
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      margin-top: -0.75px;
      -webkit-transform: translateY(-3.75px) translateZ(0);
      transform: translateY(-3.75px) translateZ(0);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
      transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
      &:last-child {
        -webkit-transform: translateY(3.75px) translateZ(0);
        transform: translateY(3.75px) translateZ(0);
      }
    }
  }
}

/*** main menu ***/

.menu-curtain {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  background-color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100%;
  -webkit-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: right 1s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
  background-color: #1d1d1d;
  &:before {
    content: "";
    width: 0.0625rem;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    z-index: 9;
    opacity: 0.22;
    pointer-events: none;
  }
}

.menu-top {
  margin: 2.1875rem 0 0;
}

.menu .navbar-brand {
  padding: 0;
}

/*{
  #242425;
}*/

.curtain.toggled {
  right: 0;
}

.menu-content {
  flex-grow: 1;
}

.main-menu {}

.nav-list, .sub-nav-list {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.nav-list .nav-item {
  position: relative;
  .nav-link {
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    position: relative;
    display: inline-block;
    padding: .5rem 0;
    margin: 0 1rem;
    padding: 0;
    margin: .5rem 1rem;
  }
}
.sub-content{
  .nav-list {
    margin-bottom: 3.75rem;
    .nav-item {
      .nav-link {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 700;
        margin:0 0 1.875rem 0 ;
      }
      &:last-child{
        .nav-link {
          margin: 0;
        }
      }
    }
  }
  .social{
    .title{
      margin-bottom: 1.875rem;
    }
    .social-links{
      .list-inline-item{
        margin:0 0.8125rem;
      }
    }
  }
}

.sub-nav-list .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  position: relative;
  display: inline-block;
  padding: .5rem 0;
  margin: 0 1rem;
  padding: 0;
  margin: .5rem 1rem;
}

.nav-list .nav-item .nav-link {
  margin: .5rem 0rem;
}

.sub-nav-list .nav-item .nav-link {
  color: #fff;
}

.main-menu {
  > .nav-list > .nav-item > .nav-link {
    font-size: 2.1875rem;
    font-weight: 700;
    &:hover, &.active {
      opacity: 1;
      color: rgba(255, 255, 255, 1);
    }
  }
  .sub-nav-list {
    position: absolute;
    left: -0%;
    left: 50%;
    top: 52%;
    width: 50%;
    opacity: 0;
    -webkit-transition: left .3s ease-in-out, opacity 1s ease-in-out;
    transition: left .5s ease-in-out, opacity 1s ease-in-out;
  }
  .nav-item:hover .sub-nav-list {
    left: 50%;
    opacity: 1;
  }
  .sub-nav-list .nav-item {
    left: -50%;
    left: -0%;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  .nav-item {
    &:hover .sub-nav-list .nav-item {
      left: 0;
      opacity: 1;
      z-index: 999999;
    }
    .sub-nav-list:before {
      content: "";
      width: 0;
      opacity: 0;
      height: 0.0625rem;
      background-color: #fff;
      position: absolute;
      top: 1.5625rem;
      left: -94%;
      left: -100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }
    &:hover .sub-nav-list:before {
      opacity: 1;
      width: 94%;
    }
  }
  .sub-nav-list .nav-item .nav-link {
    &:after {
      content: "";
      width: 0%;
      height: 0.0625rem;
      background-color: #fff;
      position: absolute;
      bottom: 0px;
      left: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.sub-menu .social .title {
  color: rgba(255, 255, 255, 0.35);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.9375rem;
}

.nav-blurr{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
      -webkit-filter: blur(30px);
      -moz-filter: blur(30px);
      -o-filter: blur(30px);
      -ms-filter: blur(30px);
      filter: blur(30px);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
}