@import '../common/colors.scss';

.section-counter{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 7.5rem 0;
  &:before{
    content:"";
    background-color:#07507c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
  }
}
.counter-container{
  color:#fff;
  .count-figure{
    margin: auto;
    .count-wr{
      font-size: 3.375rem;
      font-weight: 500;
      margin: 0;
      line-height: 1;
      span{
        color:#fff;
        transition: transform 0.5s ease-out;
      }
    }
    figcaption{
      font-size: 1.125rem;
      font-weight: 100;
    }
  }
}



@media screen and (max-width:992px) and (orientation:portrait) {
  .section-counter{
    padding: 4.5rem 0;
    .counter-container{
      .count-figure{
        margin: 0 0 1.5rem;
       &:nth-last-child(1),&:nth-last-child(2){
         margin: 0;
       }
      }
    }
  }
}

@media screen and (max-width:480px) {

}