@import '../common/colors.scss';
.touch{
  .dashboard{
    .profile-menu{
      .profile-menu-inner {
        .inner-wr{
          #profile_img {
            .img-thumb{
              .upload-btn{
                opacity:1;
                top: 75%;
                left: 75%;
                transition: none;
                color:#fff;
                .fa-camera{
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
.dashboard{
  /*.row{
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
  [class^="col-"]{
    padding:0;
  }
  .condensed-row.row {
    margin-left: -0.78125rem;
    margin-right: -0.78125rem;
    [class*="col-"] {
      padding-right: 0.78125rem;
      padding-left: 0.78125rem;
    }
  }*/

  .static-banner{
    &::before{
      display: none;
    }
    .static-banner-bg{
      padding: 1rem;
      
      .modal-link{
        padding: 0.4375rem 0.9375rem;
        border:0.0625rem solid #fff;
        background-color:rgba(2, 160, 225, 0);
        transition: all .35s;
        display: inline-block;
        &:hover{
          background-color: $brand;      
          border-color:#fff;
        }
        .text{
          margin:auto 0.4375rem;
          font-size: 1rem;
        }
      }
    }
    
    @media (max-width: 480px) {
      max-height: 7.625rem;
      max-height: 10.25rem;
    }
  }

  .profile-menu{
    padding:0;
    margin-top: 2rem;
    .profile-menu-inner {
      border: 1px solid $shade;
      width:90%;
      box-shadow: 0 0.25rem 0.625rem -0.3125rem #000;
      margin:auto;
      .inner-wr{
        width:80%;
        margin:auto;
        @media (max-width: 480px) and (orientation:portrait) {
          width: 88%;
        }
        #profile_img {
          /*background-color:transparent;*/
          border: none;
          position: relative;
          padding: 5.25rem 0 1.2625rem;
          text-align: left;
          text-align: center;
          @media (max-width: 480px) and (orientation:portrait) {
            padding: 5.15rem 0 1rem;
          }
          .user-prof-img {
            top: -7.5rem;
            position: absolute;
            left: 0;
            right: 0;
          }
          .img-thumb{
            display: inline-block;
            position: relative;
            .prof-wr {
              padding: 0;
              width: 11.25rem;
              height: 11.25rem;
              /*border-radius: 50%;*/
              margin: 0 auto;
              box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(0, 0, 0, 0.50);
              background-size: cover;
              display: block;
              img {
                padding: 0;
                width: 11.25rem;
                height: 11.25rem;
                /*border-radius: 50%;*/
                margin: 0;
                opacity: 0;
              }
            }
            .upload-btn{
              position: absolute;
              bottom: 0;
              top: 65%;
              left: 0;
              right: 0;
              background: $brand;
              opacity:0;
              transition: all .35s;

            }
            &:hover{
              .upload-btn{
                opacity: 1;
                color:#fff;
              }
            }
          }
          
          h4 {
            color: $accent;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: 'MyriadPro';
            margin: 0;
          }
          h5 {
            font-size: .9rem;
            color: #4b4b4b;
            font-family: 'MyriadPro';
            font-weight: 300;
          }
          .badge-primary-custom {
            border-radius: 0.25rem !important;
            background-color: $brand !important;
          }
        }
      }
    }
  }
  /*.sticky .profile-menu-inner {
    position: fixed;
    top: 0;
  }*/
  


  nav{
    ul.list-group{
      background:transparent;
      margin: 0 auto 1.5625rem;
      @media (max-width: 992px) and (orientation:portrait) {
      
      }
      li.list-group-item {
        background:transparent;
        border: none;
        padding:0;
        margin: 0.5rem 0 0 ;
        &:hover {
          background-color: transparent;
        }
        a {
          font-weight: 500;
          display: block;
          &.btn{
            text-align: center;
            @media (max-width: 992px) and (orientation:portrait) {
              min-width: auto;
            }
          }
          >span{
            display: inline-block;
            min-width: 10.375rem;
            margin:auto;
            text-align: left;
            @media (max-width: 992px) and (orientation:portrait) {
              min-width: 8.375rem;
            }
            .dash-icon {
              margin-right: 10px;
              margin-right: 0.625rem;
              display: inline-block;
              max-width: .75rem;
              max-height: .74rem;
              width: 100%;
              height: auto;
            }
            i {
              margin-right: 10px;
              margin-right: 0.625rem;
              position: relative
            }
          }  
          &:hover {
            text-decoration: none;
          }
        }
        &.active,
        &.active:focus,
        &.active:hover {
          z-index: 2;
          /*background-color: $lightActive;
          background-color: #fff;*/
          background:transparent;
          border-color: #ccc;
        }
        &:first-child {
          border-radius: 0;
          margin: 0 ;
        }
      }
    }
  }

  .csr-member{
    margin:auto;
    
    text-align: center;
    @media (max-width: 992px) and (orientation:portrait) {
      min-width: 90%;
    }
    .csr-member-img {
      width: 100%;
    }
    figcaption{
      margin:0.3125rem auto 1rem;
    }
  }


  @media (max-width: 992px) and (orientation:portrait) {
    ul.list-group li a,
    .forum-user-tools .list-group li .list-group-item{
      font-size: .9rem;
      padding:1rem;
    }
  }

  @media (max-width: 480px) {
    .main-list-group li a .dash-icon {
      margin: 0;
    }
    .profile-menu .main-list-group {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .profile-menu .main-list-group .list-group-item {
      display: inline-block;
      -webkit-flex: 2 1 auto;
      -ms-flex: 2 1 auto;
      flex: 2 1 auto;
      text-align: center; 
      margin: .85rem 0 0;
      &:nth-child(2){
        margin-top: 0;
      }
    }
    /*.profile-menu .list-group li a span.item-label {
      display: none;
    }*/
    .profile-menu .list-group li a i {
      margin-right: 0;
    }
  }

  /**** dashboard-content ****/

  .dashboard-content {
    margin-top: 2rem;
    .sub-title{
      margin-bottom: 1.0rem;
    }
    section {
      &:not(:last-child) {
        margin-bottom: 3rem;
        @media screen and (max-width:992px) and (orientation:portrait){
          margin-bottom: 2.5rem;
        }
      }
      /*&:last-child{
        margin-bottom: 1.25rem;
      }*/
    }
    section {
      margin-bottom: 3rem;
      
    }
    .section-dashboard-main{
      @media (max-width: 480px) {
        margin-top: 2rem;
      }
      .text-content {
        .main-title {
          span{
            font-weight: 500;
            @media (max-width: 480px) {
              font-size: 2.8125rem;
            }
          }
        }
      }
      .skill-bar-percent{
        font-size: 1.8rem;
        @media (max-width: 480px) {
          font-size: 1.4rem;
        }
      }
      .skillbar {
        background: #d9dcde;
        margin:0.9375rem 0 0;
      }
    }
    .section-projects{
      .projects-container {
        padding: 0;
      .projects-wrapper {
          .effect-goliath{
            .content {
              padding-right: 2.28125rem;
              padding-left: 2.28125rem;
              padding-right: 0;
              padding-left: 0;
              margin:auto;
              left: 0;
              right: 0;
              width:85%;
              @media screen and (max-width:1024px) {
                width:90%;
              }
              @media screen and (max-width:992px) and (orientation:portrait){
                width:85%;
              }
              header{
                .title{
                  margin-bottom: 1rem;
                  @media screen and (max-width:1024px) {
                    
                  }
                }
              }
              .desc{
                padding-bottom: 1.75rem;
                @media screen and (max-width:1024px) {
                  padding-bottom: 1rem;
                  margin-top: -.85rem;
                  .btn-wr{
                    margin-top: 0.5rem;
                    .btn{
                      padding:0.5625rem;
                    }
                  }
                }
                @media screen and (max-width:992px) and (orientation:portrait){
                  p.ellipsis{
                    display: none;
                  }
                }
                @media screen and (max-width:480px){
                  p.ellipsis{
                    display: block;
                  }
                }
              }
              /*@media screen and (max-width:992px) and (orientation:portrait){
                header{
                  .title{
                    font-size:1.375rem;
                    margin: 0 0 0.625rem;
                  }
                }
              }
              @media screen and (max-width:480px) {
                header{
                  .title{
                    font-size:2rem;
                    margin: 0 0 1rem;
                  }
                }
              }*/
              
            }
          }
          footer{
            margin:2rem auto 0;
            text-align: center;
            @media screen and (max-width:1024px) {
              margin: 1.5rem auto 0;
            }
            @media screen and (max-width:992px) and (orientation:portrait){
              margin: 1rem auto 0;
            }
          }
        }
      }
    }

    .section-pendings{
      .pending-container{
        .card-group{
          .card{
            padding: 0;
          }
        }

        footer{
          margin: 2rem auto 0;
          text-align: center;
        }
      }
    }

  }

  @media (max-width: 1024px) and (orientation:portrait) {
    .dashboard-content {

      section.subscriptions {
        .article-event {
          &:not(:last-child){
            .inner-wr {
              padding: 1rem 1.25rem;
            }
          }
          .inner-wr {
            padding: 1rem 1.25rem;
          }
        }
      }

      .forum {
        .btn{
          height: 40px;
          max-height: 40px;
          height: 2.5rem;
          max-height: 2.5rem;
          min-width: auto;
          padding-left: .625rem;
          padding-right: .625rem;
          padding: .625rem;
          .tcon-plus {
            &:before{
              -webkit-transform: scale(1);
              transform: scale(1);
            }
            &:after{
              -webkit-transform: rotate(90deg) scale(1);
              transform: rotate(90deg) scale(1);
            }
          }
        }
        .article-event:last-child,.article-event:first-child,.article-event {
          .inner-wr {
            .post-user-col {
              
              .post-user-wr {
                padding: 0;
                width: 48px;
                height: 48px;
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }

        .dashboard-content {
          .forum {
            /*.btn{
              .tcon-plus {
              }
            }*/
            .article-event:last-child,.article-event:first-child,.article-event {
              .inner-wr {
                .post-user-col {
                  flex: 0 0 18%;
                  max-width: 18%;
                }
              }
            }
          }
        }

      }
    }
  }

  @media (max-width: 480px) and (orientation:portrait) {
    .dashboard-content {
      .forum {
        .article-event:last-child,.article-event:first-child,.article-event {
          .inner-wr {
            .post-user-col {
              flex: 0 0 18%;
              max-width: 18%;
              .post-user-pp{
                position: relative;
                left: 1px;
              }
            }
            .new-post-wr {
              .input-group{
                  -webkit-box-pack: end;
                  -ms-flex-pack: end;
                  justify-content: flex-end;
                >.form-control:not(:last-child) {
                  width:80%;
                }
                .input-group-append{
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
    }

  }


  /*** bbpress overide ***/
  .bbp-pagination-links.pagination{
    >*:first-child{
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      padding: .5rem .75rem;
    }
    >*:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    >*{
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin: 0;
      margin-left: -1px;
      margin-left: -0.0625rem;
      line-height: 1.25;
      color: $brand;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border: 0.0625rem solid #dee2e6;
    }
    >.current{
      color:#fff;
      background-color:$brand;
      padding: .5rem .75rem;
    }
  }
  #bbpress-forums {
    .bbp-user-section {
      overflow-x: hidden;
      li.bbp-header{
        background-color:transparent;
        .forum-titles{
          font-size: 1.25rem;
          font-weight: 600;
          margin: 0;
          font-family: 'MyriadPro';
          color: $accent-color;
        } 
      }
      li.bbp-footer {
        background-color:transparent;
      }
      span.bbp-header {
        font-family: Hind-Madurai;
        font-weight: 600;
      }
      li.bbp-body{
        ul.forum,
        li.bbp-body ul.topic{
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: flex;
        }
        .bbp-topic-title{
          .bbp-topic-permalink {
            font-family: 'MyriadPro';
            font-size: 1.5rem;
            color: $accent;
            font-weight: 400;
            margin: 0;
            line-height: 1;
          }
          .bbp-topic-meta{
            font-size: .875rem;
            font-weight: 600;
            margin: 2px 0 0;
            margin: 0.125rem 0 0;
            font-family: 'MyriadPro';
          }
        }
        .bbp-topic-voice-count,
        .bbp-topic-reply-count{
          color: $brand;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }

  @media only screen and (max-width: 480px){
    #bbpress-forums {
      .bbp-user-section {
        li.bbp-forum-info, 
        li.bbp-topic-title {
          width: 65%;
        }
        li.bbp-header{
          .forum-titles{
            font-size: 1rem;
          } 
        }

      }
    }
  }


  /** edit-profile **/
  .edit-profile{
    background-color:transparent;
    .inner-wr {
      padding: 1.875rem 1.25rem;
      .tab-content{
        padding: 1.5rem 1rem;
        border:0.0625rem solid #dee2e6;
      }
      .dac-form{
        .form-group{
          margin-bottom: 1.5rem; 
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .avatar-wr{
        padding: 0.5625rem 0.9375rem 1.5625rem 0.9375rem;
        img{
          width: 6.5625rem;
          height: 6.5625rem;
        }
      }
    }
  }
}












/*** pending ******/

.blog-card {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0.25rem 0.625rem -0.3125rem #000;
  overflow: hidden;
  padding:0;
  figure{
    margin:0;
    background-size: cover;
    background-position: center;
  }
  .post-image {
    transition: opacity 0.3s ease;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .article-details {
    padding: 1.5rem;
    @media screen and (max-width:1024px) {
      padding: 1rem;
    }
    @media screen and (max-width:992px) and (orientation:portrait){
      padding: .5rem 1rem 1.25rem;
    }
    .post-category {
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.0625rem;
      margin: 0 0 0.75rem 0;
      padding: 0 0 0.25rem 0;
      border-bottom: 0.125rem solid #ebebeb;
    }
    .post-title {
      transition: color 0.3s ease;
      font-size: 1.125rem;
      
      color: $midnight;
      font-weight: 500;
      margin: 0 0 0.5rem 0;
      line-height: 1.4;
      line-height: 1.2;
    }
    .post-description{
      line-height: 1.2;
      .val{
        display: block;
        font-weight: 500;
        /*.currency{
          
        }*/
      }
    }
    .post-author {
      font-size: 0.875rem;
      line-height: 1;
      margin: 1.125rem 0 0 0;
      padding: 1.125rem 0 0 0;
      border-top: 0.0625rem solid #ebebeb;
      font-style: italic;
    }
  }
  
}
/*.blog-card {
  
}*/
@supports (display: grid) {
  .post-image {
    height: 100%;
  }

  .blog-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @media (max-width: 992px) {
    .blog-card {
      grid-template-columns: auto;
      grid-template-rows: 7.5rem 1fr;
    }
  }
}
/*ie*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .blog-card {
    figure{
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .article-details{
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }
}

@media (max-width: 992px) {
 
  .blog-card {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
 
  .blog-card {
    margin-bottom: 1.5rem;
  }
}