@import '../common/colors.scss';
@import '../common/animation.scss';


.section-features{
    position: relative;
    @media screen and (max-width: 480px) {
        .fp-scroller{
            > .mobile-select-tabs{
                position: absolute;
                top:0;
                z-index: 99;
                transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
                transition-duration: 0ms;
            }
        }
        .mobile-select-tabs{
            z-index: 999;
        }
    }
    .nav-pills{
        background-color:$brand;
        .nav-link {
            display: block;
            padding: 2rem 1rem;
            opacity: 0.7;
            font-family: 'Futura';
            font-weight: 300;
            font-size: 0.875rem;
            color: $brand-accent-light;
            letter-spacing: 0.4863rem;
            -webkit-transition-property:color, text; 
            -webkit-transition-duration: 1s, 1s; 
            -webkit-transition-timing-function: linear, ease-in;

            -moz-transition-property:color, text; 
            -moz-transition-duration:1s; 
            -moz-transition-timing-function: linear, ease-in; 

            -o-transition-property:color, text; 
            -o-transition-duration:1s; 
            -o-transition-timing-function: linear, ease-in;
            &.active{
                color:$brand-accent;
                opacity: 1;
                font-weight: 800;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
    .bootstrap-select.mobile-select-tabs{
        > .btn-mobile-tab-select.bs-placeholder,
        .btn-mobile-tab-select{
            color: #17C3FF;
            background-color: $brand;
            font-family: Futura;
            font-weight: 800;
            font-size: 1.1667rem;
            letter-spacing: 0.4863rem;
            text-transform: uppercase;
            line-height: 1;
            padding: 20px 18px;
            border:none;
            &:after {
                margin-left: -30px;
                content: "";
                border: solid #17C3FF;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            &:focus {
                outline:none !important;
                outline-color:none !important;
                outline-style: none !important;
                outline-width: 0 !important;
            }
        }
        > .dropdown-menu{
            transform: translate3d(0px, 53px, 0px) !important;
            border:0;
            top:0;
            height: 0;
            display: block;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            overflow: hidden;
            padding: 0;
            &.show{
                height: calc(4.3rem*2);
            }
            .dropdown-menu{
                position: relative;
                border: 0;
                padding: 0.8333rem 0;
                margin: 0;
                top: 0;
                background: #004268;
                border-top: 1px solid rgba(255, 255, 255, 0.19);
                .dropdown-item{
                    padding: 1rem 2rem;
                    color: rgba(0, 198, 255, 0.75);
                    &:hover{
                        background: transparent;
                    }
                    &:focus {
                        outline:none;
                        outline-color:none;
                        outline-style: none;
                        outline-width: 0;
                    }
                    &.selected{
                        display: none;
                    }
                }
            }
        }
    }
    .main-tab-content{
        height: calc(100vh - 5.25rem);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @media screen and (max-width: 480px) {
            min-height: calc(100vh - 3.4912rem);
            height: auto;
            overflow: hidden;
            //padding-top: 4.6667rem;

            min-height: calc(100vh - 4.6667rem);
            //padding-top: 4.6667rem;
            box-sizing: content-box;
        }
        .tab-pane{
            height: 100%;
            &.tab-features {
                @media screen and (max-width: 480px) {
                    min-height: calc(100vh - 3.4912rem);
                    height: auto;
                    overflow: auto;
                }
            }
        }
    }
    
    //tab features
    .tab-features {
        .tab-features-inner{
            height: 100%;
            position: relative;
            @media screen and (max-width: 480px) {
                width:86%;
                margin:0 auto;
                min-height: calc(100vh - 3.4912rem);
                .desc{
                    font-family: Gotham;
                    font-size:1rem;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 1.25rem;
                }
                .machine-wr {
                    margin: 0;
                    height:35vh;
                    margin-bottom: 0.5833rem;
                    .offset-machine{
                        height:100%;
                        width:auto;
                    }
                }
            }
        }
        header{
            width: 38.888888888889%;
            @media screen and (max-width: 480px) {
                width:100%;
                margin: 0 auto;
            }
            p{
                margin: 2.625rem 0 0;
                font-family: 'Avenir Next';
                font-size: 0.9375rem;
                color: #FFFFFF;
                text-align: center;
                line-height: 1.5;
                position: relative;
                @media screen and (max-width: 1280px) {
                    margin: 1.625rem 0 0;
                }
            }
            .price{
                font-size: 1rem;
                color: #FFFFFF;
                letter-spacing: -0.005rem;
                font-weight: 700;
            }
            .title{
                font-family: Gotham;
                font-size: 2rem;
                line-height: 1;
                color: #FFFFFF;
                font-weight: 700;
                margin-bottom: 0.8333rem;
                margin-top: 0.4167rem;
            }
        }
        .tab-features-bg-wr{
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;
            right:0;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 80%;
            @media screen and (max-width: 480px) {
                background-size: 160%;
                pointer-events: none;
            }
            .tab-features-bg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                @media screen and (max-width: 480px) {
                    display: none;
                }
            }
        }

        .features-content-tabs{
            width: 65.694444444444%;
            .top{
                background-size: cover;
                background-position: center center;
                p{
                    font-family: 'Avenir Next';
                    font-size: 0.9375rem;
                    color: #FFFFFF;
                    letter-spacing: -0.0063rem;
                    text-align: left;
                    font-weight: 700;
                }
                .nav-tabs{
                    border: 0;
                    .nav-item{
                        margin: 0;
                        .nav-link{
                            cursor: pointer;
                            border:0;
                            padding: .9rem 1rem;
                            -webkit-transition: all 0.35s ease;
                            -moz-transition: all 0.35s ease;
                            -o-transition: all 0.35s ease;
                            transition: all 1.35s ease;
                            background: rgba(122, 122, 122, 0);
                            background: -moz-linear-gradient(top, #7a7a7a 0%, #414141 85%, #414141 100%);
                            background: -webkit-linear-gradient(top, rgba(122, 122, 122, 0) 0%, rgba(65, 65, 65, 0) 85%, rgba(65, 65, 65, 0) 100%);
                            background: linear-gradient(to bottom, rgba(122, 122, 122, 0) 0%, rgba(65, 65, 65, 0) 85%, rgba(65, 65, 65, 0) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#414141',GradientType=0 );
                            &.active{
                                background: rgb(122, 122, 122);
                                background: -moz-linear-gradient(top, #7a7a7a 0%, #414141 85%, #414141 100%);
                                background: -webkit-linear-gradient(top, rgb(122, 122, 122) 0%, rgb(65, 65, 65) 85%, rgb(65, 65, 65) 100%);
                                background: linear-gradient(to bottom, rgb(122, 122, 122) 0%, rgb(65, 65, 65) 85%, rgb(65, 65, 65) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
                                .btn-icon{
                                    *{
                                        stroke:$brand-accent !important;
                                    }
                                }
                            }
                            .btn-icon-wr{
                                width: 1.1875rem;
                                min-width: 100%;
                                height: 1.1875rem;
                                .btn-icon{
                                    max-height: 100%;
                                    *{
                                        -webkit-transition: all 0.35s ease;
                                        -moz-transition: all 0.35s ease;
                                        -o-transition: all 0.35s ease;
                                        transition: all 0.35s ease;
                                    }
                                }
                            }
                            &:hover{
                                .btn-icon{
                                    *{
                                        stroke:#fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .body{
                background-size: cover;
                background-position: top center;
                width: 100%;
                height: 20.625rem;
                position: relative;
                -webkit-border-bottom-right-radius: 0.125rem;
                -webkit-border-bottom-left-radius: 0.125rem;
                -moz-border-radius-bottomright: 0.125rem;
                -moz-border-radius-bottomleft: 0.125rem;
                border-bottom-right-radius: 0.125rem;
                border-bottom-left-radius: 0.125rem;
                color: $brand-accent-light;
                .body-main{
                    font-family: 'Avenir Next';
                    padding: 0 0 0 2rem;
                    .title{
                        font-weight: 700;
                        font-size: 2.25rem;
                        color: #FFFFFF;
                    }
                    p{
                        font-size: 0.9375rem;
                        text-align: left;
                    }
                }
                .body-feat-img{
                    position: relative;
                    height: 100%;
                    .machine-wr {
                        height: 165.15151515152%;
                        position: absolute;
                        text-align: center;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: -38%;
                        top: -13vh;
                        max-height: 69vh;
                        top: -11vh;
                        max-height: 60vh;
                        @media screen and (max-width: 1366px) {
                            top: -9vh;
                            max-height: 61vh;
                        }
                        .offset-machine {
                            max-height: 100%;
                        }
                    }
                }
                .body-tabs{
                    .sub-tab-content{
                        .tab-pane{
                            .tab-content-video-bg{
                                background-size: cover;
                                background-position: center center;
                                -webkit-border-radius: 2px;
                                -moz-border-radius: 2px;
                                border-radius: 2px;
                                overflow: hidden;
                                .inline-YTPlayer{
                                    max-width: unset !important;
                                }
                                .tab-player{
                                    background:none !important;
                                    .mbYTP_wrapper iframe{
                                        width:100% !important;
                                        height:100% !important;
                                        margin:auto !important;
                                    }
                                    .inlinePlayButton{
                                        &:nth-child(4){
                                            display: none;
                                        }
                                    }
                                    /*.mb_YTPBar{
                                        background: transparent;
                                        .buttonBar{
                                            top:-20px;
                                        }
                                        .mb_YTPProgress{
                                            display: none !important;
                                        }
                                    }*/
                                    &.yt-ready{
                                        .inlinePlayButton{
                                            opacity: 1;
                                        }
                                    }
                                    .inlinePlayButton{
                                        opacity: 0;
                                    }
                                    .loading{
                                        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwcHgiICBoZWlnaHQ9IjIwMHB4IiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiIGNsYXNzPSJsZHMtcm9sbGluZyIgc3R5bGU9ImJhY2tncm91bmQ6IG5vbmU7Ij48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIxMCIgcj0iMzUiIHN0cm9rZS1kYXNoYXJyYXk9IjE2NC45MzM2MTQzMTM0NjQxNSA1Ni45Nzc4NzE0Mzc4MjEzOCIgdHJhbnNmb3JtPSJyb3RhdGUoMTQzLjcyMSA1MCA1MCkiPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0icm90YXRlIiBjYWxjTW9kZT0ibGluZWFyIiB2YWx1ZXM9IjAgNTAgNTA7MzYwIDUwIDUwIiBrZXlUaW1lcz0iMDsxIiBkdXI9IjFzIiBiZWdpbj0iMHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGVUcmFuc2Zvcm0+PC9jaXJjbGU+PC9zdmc+');
                                        background-size: 50%;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        left: 0;
                                        margin: auto;
                                        width: 80px;
                                        height: 80px;
                                        opacity: 1;
                                        visibility: visible;
                                        border-radius: 50%;
                                        padding: 20px;
                                        box-sizing: content-box;
                                        animation: unset;
                                        text-indent: -99999px;
                                    
                                    }
                                }
                            }
                            .desc{
                                margin-top: 1rem;
                                font-size: 0.9375rem;
                            }
                        }
                    }
                }
            }
            .cta-wr{
                margin-top:5rem;
                margin-bottom: -2rem;
                @media screen and (max-width: 1366px) {
                    margin-top: 2rem;
                    margin-bottom: 0;
                }
            }
        }
        //mobile
        .features-content-rows{
            max-height: calc(100vh - 3.4912rem);
            min-height: calc(100vh - 3.4912rem);
            background: rgb(120,120,120);
            background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(65,65,65,1) 100%);
            background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%,rgba(65,65,65,1) 100%);
            background: linear-gradient(to bottom, rgba(120,120,120,1) 0%,rgba(65,65,65,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#414141',GradientType=0 );
            color: #fff;
            font-size: 1rem;
            line-height: 1.25rem;
            font-family: Gotham;
            padding: 3.75rem 8vw;
            text-align: center;
            .feat-mobile{
                &:last-child{
                    margin-bottom: 0;
                }
                .btn-icon-wr {
                    width: 2.3333rem;
                    height: 2.3333rem;
                    margin: 0 auto 1rem;
                }
            }
        }
        
    }

    //tab flavours
    .tab-flavours{
        position: relative;
        .flavours-slider-custom-nav{
            position: absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            [class^="swiper-button-"]{
                visibility: visible;
                opacity: 1;
            }

            > .swiper-button-next,> .swiper-button-prev{
                background-image: none;
                background-color: rgba(18, 94, 138, .5);
                -webkit-transform: translateX(0rem);
                transform: translateX(0rem);
                opacity: 1;
                visibility: visible;
                height: 7.125rem;
                width: 7.125rem;
                border-radius: 50%;
                -webkit-transition: all 0.35s ease;
                -moz-transition: all 0.35s ease;
                -o-transition: all 0.35s ease;
                transition: all 0.35s ease;
                top:unset;
                position: relative;
                &:hover{
                    background-color: rgba(18, 94, 138,1);
                }
                .btn-icon-wr{
                    width: 0.875rem;
                    height: 1.75rem;
                    margin: 0 1.625rem;
                }
            }
            > .swiper-button-prev{
                left: -3.75rem
            }
            > .swiper-button-next{
                right: -3.75rem
            }
                
                
        }
    
        .flavours-slider {
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            clip-path: circle(31.5vw at center);
            overflow: hidden;
            .swiper-slide-active{
                .swiper-slide-inner-container{
                    .swiper-slide-flex {
                        .swiper-slide-col {
                            .title{
                                -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                            }
                            .desc{
                                -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

                            }
                            .feat{
                                .feat-fig{
                                    .feat-cup {
                                        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                                        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                                    }
                                    .feat-capsule{
                                        -webkit-animation: puff-in-center 0.7s .2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                                        animation: puff-in-center 0.7s .2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                                        -webkit-animation: bounce-in-top 1.1s both;
                            	        animation: bounce-in-top 1.1s both;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .swiper-slide-inner-container{
                height: 100%;
                .swiper-slide-flex{
                    height: 100%;
                    .swiper-slide-col{
                        .title{
                            font-size: 2.25rem;
                            text-transform: uppercase;
                            -webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        }
                        .desc{
                            font-size: 0.9375rem;
                            line-height: 1.6;
                            -webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            &:last-of-type{
                                margin-bottom: 3.125rem;
                            }
                        }
                        .feat{
                            margin-bottom: 3rem;
                            
                            .feat-fig{
                                margin: 0;
                                position: relative;
                                .feat-cup {
                                    max-width: 26.388888888889vw;
                                    max-height: 39.444444444444vh;
                                    width: auto;
                                    height: auto;
                                    position: relative;
                                    /*right: -7.5%;*/ 
                                    -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                                    animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                                }
                                .feat-capsule {
                                    width: 14.583333333333vw;
                                    position: absolute;
                                    bottom: -1.5625rem;
                                    right: -1rem;
                                    -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                                    animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
                                    -webkit-animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
                                    animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
                                }
                            }
                            .info{
                                background-image: linear-gradient(45deg, #C3CFE2 0%, #F5F7FA 100%);
                                border: 0.125rem solid #FFFFFF;
                                box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.13);
                                border-radius: 50%;
                                width: 10.625rem;
                                height: 10.625rem;                            
                                padding: 0.625rem;
                                color: $brand-accent-2nd;     
                                position: absolute;
                                bottom: -1.25rem;
                                left: 1.875rem;                  
                                .count{
                                    font-family: Gotham;
                                    font-size: 5rem;
                                    line-height: 1;
                                }
                                .bullets{
                                    list-style: none;
                                    padding: 0;
                                    margin: 0 0 0.625rem;
                                    li{
                                        border: 0.0625rem solid #B47997;
                                        width: 0.3125rem;
                                        height: 0.3125rem;
                                        margin: 0.1563rem;
                                        border-radius: 50%;
                                        &.active{
                                            background-color:$brand-accent-2nd;
                                            border-color:$brand-accent-2nd;
                                        }
                                    }
                                }    
                                .label{
                                    font-size: 15px;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        .btn{
                            margin-bottom: 2.5rem;
                        }
                    }
                }
            }
            &.swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: 1.5rem;
                .swiper-pagination-bullet{
                    /*background: #047A9A;*/
                    height: 0.5rem;
                    width: 0.5rem;
                    border: 0.25rem solid transparent;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    margin: 0 0.4188rem;
                    &.swiper-pagination-bullet-active{
                    border-color:$brand-accent;
                        background:$brand-accent;
                        box-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
                    }
                }
            }

            &.swiper-container-horizontal {
                > .swiper-button-next,> .swiper-button-prev{
                    background-image: none;
                    background-color: rgba(18, 94, 138, .5);
                    -webkit-transform: translateX(0rem);
                    transform: translateX(0rem);
                    opacity: 1;
                    visibility: visible;
                    height: 7.125rem;
                    width: 7.125rem;
                    border-radius: 50%;
                    -webkit-transition: all 0.35s ease;
                    -moz-transition: all 0.35s ease;
                    -o-transition: all 0.35s ease;
                    transition: all 0.35s ease;
                    &:hover{
                        background-color: rgba(18, 94, 138,1);
                    }
                    .btn-icon-wr{
                        width: 0.875rem;
                        height: 1.75rem;
                        margin: 0 1.625rem;
                    }
                }
                > .swiper-button-prev{
                    left: -3.75rem
                }
                > .swiper-button-next{
                    right: -3.75rem
                }
                
                
            }
        }
    }

    //tab machines
    .tab-coffee-machines{
        .coffee-machines-slider{
            height: 100%;
            width: 100%;
            &:before{
                content:"";
                height: 65vh;
                width: 100%;
                position: absolute;
                top:0;
                bottom:0;
                margin:auto;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40c7ec+0,00799c+100 */
                background: rgb(64,199,236); /* Old browsers */
                background: -moz-linear-gradient(top, rgb(64,199,236) 0%, rgb(0,121,156) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgb(64,199,236) 0%,rgb(0,121,156) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgb(64,199,236) 0%,rgb(0,121,156) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c7ec', endColorstr='#00799c',GradientType=0 ); /* IE6-9 */
            }
            .swiper-wrapper{
                .swiper-slide{
                    max-width: 28.333333333333vw;
                    width: 28.333333333333%;
                    overflow: visible;
                    &.swiper-slide-active,&.swiper-slide-duplicate-active{
                        .swiper-slide-inner-container{
                            .swiper-slide-flex {
                                transform: translate(0rem, 2.5rem);
                                -webkit-transform: translate(0rem, 2.5rem);
                                -moz-transform: translate(0rem, 2.5rem);
                                -o-transform: translate(0rem, 2.5rem);
                                -ms-transform: translate(0rem, 2.5rem);
                            }
                        }
                    }
                    .swiper-slide-inner-container{
                        height: 100%;
                        .swiper-slide-flex {
                            background: rgb(122,122,122);
                            background: -moz-linear-gradient(top, rgb(122,122,122) 0%, rgb(84,84,84) 50%, rgb(65,65,65) 100%);
                            background: -webkit-linear-gradient(top, rgb(122,122,122) 0%,rgb(84,84,84) 50%,rgb(65,65,65) 100%);
                            background: linear-gradient(to bottom, rgb(122,122,122) 0%,rgb(84,84,84) 50%,rgb(65,65,65) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#414141',GradientType=0 );
                            padding: 1.6875rem 0.6875rem;
                            color: #fff;
                            position: relative;
                            -webkit-border-radius: 0.125rem;
                            -moz-border-radius: 0.125rem;
                            border-radius: 0.125rem;
                            transform: translate(0rem, -2.5rem);
                            -webkit-transform: translate(0rem, -2.5rem);
                            -moz-transform: translate(0rem, -2.5rem);
                            -o-transform: translate(0rem, -2.5rem);
                            -ms-transform: translate(0rem, -2.5rem);
                            -webkit-transition: all .5s;
                            -moz-transition: all .5s;
                            -o-transition: all .5s;
                            transition: all .5s;
                        }
                    }
                    .title{
                        font-size: 2.25rem;
                        color:#fff;
                        font-family: Gotham;
                        font-weight: bold;
                        line-height: 1;
                        margin-bottom: 1.625rem;
                    }
                    .desc{
                        color:$brand-accent-light;
                        font-size: 0.9375rem;
                        line-height: 1.25rem;
                        margin-bottom: 1.875rem;
                        &:last-of-type{
                            margin-bottom: 2.625rem;
                        }
                    }
                    .btn{
                        font-family: Gotham;
                        font-weight: 500;
                    }
                    .feat-machine{
                        position: absolute;
                        left: 55%;
                        bottom: 1.125rem;
                        max-height: 43.333333333333vh;
                        max-width: 27.083333333333vw;
                        height: auto;
                        width: auto;
                    }
                }
            }
        
            &.swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: 1.5rem;
                .swiper-pagination-bullet{
                    /*background: #047A9A;*/
                    height: 0.5rem;
                    width: 0.5rem;
                    border: 0.25rem solid transparent;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    margin: 0 0.625rem;
                    &.swiper-pagination-bullet-active{
                    border-color:$brand-accent;
                        background:$brand-accent;
                        box-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
                    }
                }
            }

            &.swiper-container-horizontal {
                > .swiper-button-next,> .swiper-button-prev{
                    background-image: none;
                    background-color: rgba(18, 94, 138, .5);
                    -webkit-transform: translateX(0rem);
                    transform: translateX(0rem);
                    opacity: 1;
                    visibility: visible;
                    height: 7.125rem;
                    width: 7.125rem;
                    border-radius: 50%;
                    -webkit-transition: all 0.35s ease;
                    -moz-transition: all 0.35s ease;
                    -o-transition: all 0.35s ease;
                    transition: all 0.35s ease;
                    &:hover{
                        background-color: rgba(18, 94, 138,1);
                    }
                    .btn-icon-wr{
                        width: 0.875rem;
                        height: 1.75rem;
                        margin: 0 1.625rem;
                    }
                }
                > .swiper-button-prev{
                    left: -3.75rem
                }
                > .swiper-button-next{
                    right: -3.75rem
                }       
            }
        }
    }
}  