body {
  .filters{
    margin-bottom: 3.125rem;
    > .filter-select-wr{
      flex-grow: 2;
      max-width: 21.25%;
      min-width: 21.25%;
      position: relative;
      &:last-child{
        flex-grow: 1;
        min-width: unset;
        .btn-filter-dark{
          width: 100%;
          border-left: 0;
        }
      }
      &:after{
        content:"";
        position: absolute;
        right: 0;
        top:0.625rem;
        bottom:0.625rem;
        width: 0.09375rem;
        background-color:#000;
        opacity: 0.16;
        pointer-events: none;
      }
      .dropdown-menu.open{
        border: 0.0625rem solid #000;
        z-index: 9999;
      }
    }
    
    .bootstrap-select.btn-group{
      width: 100% !important;
      
      &:not(.dropup){
        button.btn-filter-dark {
          background-color: #fff;
          border: 0.0625rem solid #000;
          height: 6.6875rem !important;
          font-size: 1rem;
          border-left: 0;
          border-right: 0;
          &:after{
            opacity: 0;
            width: 0;
            padding: 0;
            margin: 0;
            border: 0;
          }
          .filter-option{
            color: #000;
          }
          .caret {
            height: 10px;
            width: 20px;
            overflow: hidden;
            display: block;
            position: relative;
            right: auto;
            top: auto;
            margin: auto;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              border-top: 10px solid #000000;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
            }
            &:after{
              content: '';
              position: absolute;
              left: 2px;
              top: 0;
              border-top: 8px solid #fff;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
          }
        }
      }

      &.dropup{
        button.btn-filter-dark {
          background-color: #fff;
          border: 0.0625rem solid #000;
          height: 6.6875rem !important;
          font-size: 1rem;
          border-left: 0;
          border-right: 0;
          &:after{
            opacity: 0;
            width: 0;
            padding: 0;
            margin: 0;
            border: 0;
          }
          .filter-option{
            color: #000;
          }
          .caret {
            height: 10px;
            width: 20px;
            overflow: hidden;
            display: block;
            position: relative;
            right: auto;
            top: auto;
            margin: auto;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              border-bottom: 10px solid #000000;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
            }
            &:after{
              content: '';
              position: absolute;
              left: 2px;
              top: 2px;
              border-bottom: 8px solid #fff;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
          }
        }
      }

      .btn-light,
      .btn-light:not(:disabled):not(.disabled):active {
        border-color: #fff;
        background-color: #fff;
        color: #000;
      }
      .dropdown-item:active{
        background-color: transparent;
      }
    }
    .filter-select-wr{
      &:last-child{
        &:not(.dropup),&.dropup{
          button.btn-filter-dark {
            border-right: 0.0625rem solid #000;
          }
        }
      }
      &:first-child{
        &:not(.dropup),&.dropup{
          button.btn-filter-dark {
            border-left: 0.0625rem solid #000;
          }
        }
      }
    }
    button.btn-filter-dark {
      background-color: #fff;
      border: 0.0625rem solid #000;
      border-left: 0;
      border-right: 0;
      height: 6.6875rem !important;
      font-size: 1rem;
      padding: 25px;
    }
  }
}

.en button.btn-filter-dark,
button.btn-filter-dark {
  .btn-icon-wr{
    margin-left :15px;
  }
}
.ar button.btn-filter-dark {
  .btn-icon-wr{
    margin-right: 15px;
  }
}


.bootstrap-select{
  //height: 100%;
  button.dropdown-toggle{
      /*box-shadow: none;*/
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      &:focus{
          outline: none !important;
      }
      .filter-option{
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 1.5;
      }
  }
  .dropdown-menu{
      margin:auto;
      &.open{
          padding: 0;
      }
      .dropdown-menu.inner,
      div.dropdown-menu.inner{
          padding:0.625rem 0;
          background: #ececec;            
          border-top: 0.0625rem solid #8a8a8a;
          background-color:#fff;
          border-color:#000;
          .dropdown-item{
              margin: 0;
              padding: 0.625rem 1rem;
              color:#000;
              .dropdown-item-inner{
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  display: flex;      
                  
                  position: static;
                  float: none;
                  border: 0;
                  padding: 0;
                  margin: 0;
                  border-radius: 0;
                  box-shadow: none;
                  .text{
                      font-weight: 500;
                      
                  }
                  .svg-inline--fa{
                      opacity: 0;
                      transition: all .35s;
                  }
                  
              }
              &.selected{
                  .dropdown-item-inner{                    
                      .svg-inline--fa{
                          opacity: 1;
                      } 
                  }
              }
              /*&:hover{
                  text-decoration: underline;
              }*/
              /*&:hover{
                  .dropdown-item-inner {
                      .text{
                          text-decoration: underline;
                      }
                  }
              }*/
          }
      }
  }
}