
@mixin easeOut {
    transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}

.section-hero-banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 6.25rem);
    @media screen and (max-width:480px){
        height: calc(100vh - 4.8333rem);
    }
    .hero-bg-wr{
        background-size: cover;
        background-position: bottom center;
        position: relative;
        overflow: hidden;
        .full-video-main-wr{
            position: absolute;
        }
        .hero-overlay-bg {
            position: absolute;
            bottom: 0;
            line-height: 0;
            z-index:-1;
            width: 100%;
            .svg-bar{
                width: 100%;
                height: auto;
            }
        }

        /* Bitmap Copy 2: */

        .overlay-content-wr{
            color:#fff;
            position:relative;
            overflow: hidden;
            .overlay-content-bg{
                background-size:cover;
                background-position:bottom center;
                position: absolute;
                left: 0;
                bottom: 0;
                height:100%;
                overflow: hidden;
                #bg-video{
                    &.yt-ready{
                        opacity: 1;
                        &:after{
                            opacity: 1;
                        }
                        .playerBox{
                            -webkit-filter: blur(8px);
                            -moz-filter: blur(8px);
                            -o-filter: blur(8px);
                            -ms-filter: blur(8px);
                            filter: blur(8px);
                        }
                    }
                    &:after{
                        content:"";
                        pointer-events: none;
                        top: 0;
                        right: 0;
                        bottom: -1px;
                        left: 0;
                        position: absolute;
                        background: rgba(0, 0, 0, 0.85);
                        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.68) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.68) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.68) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        opacity: 0;
                        @include easeOut;
                        
                    }
                }
            }
            .btn-images-wr{
                width: 39.444444444444vw;
                margin:4.375rem auto 5.3125rem;
                position: relative;
                @media screen and (max-width:480px){
                    width:60vw;
                }
                .cap-trigger-link{
                    position: relative;
                    @media screen and (max-width:480px){
                        margin: 0 0.3125rem;
                    }
                    &.animated{
                        &:before {
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            right: 1px;
                            bottom: 1px;
                            border-radius: 100%;
                            box-shadow: 0px 0px 30px #000;
                            @include easeOut;
                        }
                        &:hover{
                            &:before {
                                box-shadow: 0px 0px 15px #000;
                            }
                        }
                    }
                    .cap-trigger-img {
                        width: 6.5rem;
                        height: auto;
                        -webkit-transition: all 1s ;
                        -moz-transition: all 1s ;
                        -o-transition: all 1s ;
                        transition: all 2s ;
                        border-radius: 50%;
                        /*box-shadow: -1px -1px 0 rgba(255, 255, 255, 0), 1px 1px 0 rgba(255, 255, 255, 0), -1px 1px 0 rgba(255, 255, 255, 0), 1px -1px 0 rgba(255, 255, 255, 0);*/
                    }
                    .cap-trigger-main-img {
                        width: 9.5rem;
                        height: auto;
                    } 
                    &:hover{
                        .cap-trigger-img {
                            /*box-shadow: -1px -1px 0 rgba(255, 255, 255, 1), 1px 1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1), 1px -1px 0 rgba(255, 255, 255, 1);*/
                        }
                    }
                }
                .arrow-wr {
                    position: absolute;
                    left: -5.4375rem;
                    top: 20%;
                    @media screen and (max-width:480px){
                        left: -4.4375rem;
                        top: 7%;
                    }
                }
            }
        }
    }
}

