.partner-logo{
  max-width: 14vw;
  max-height: 90px;
  max-width: 12rem;
  max-height: 5.6255rem;
  width: auto;
  height: auto;
}

@media screen and (max-width:480px) {
  .partner-logo {
    max-width: 26vw;
  }
  .partner-logo-wr{
    margin:10px 0;
  }
}