@import '../common/colors.scss';

.projects-container {
  margin-top: 1.25rem;
  &:not(.resources-container){
    /*padding-top: 1.875rem;*/
    .projects-wrapper {
      .effect-goliath{
        @media screen and (max-width:480px) {
          &:not(:nth-child(1)){
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  
  }
 .projects-wrapper {

    .effect-goliath{
      background: transparent;
      position: relative;
      /*overflow: hidden;*/
      text-align: left;
      margin:0;
      margin-bottom: 0.46875rem;
      margin-top: 0.46875rem;
      
      &:nth-child(1),&:nth-child(2){
        margin-top: 0;
      }
      figure{
        margin: 0;
        background-color: $brand;
        box-shadow: 0rem 0.4rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.75);
        img{
          /*opacity: 0;*/
          width:100%;
          position: relative;
          display: block;
          min-height: 100%;
          max-width: 100%;
          opacity:1;
       }
      }
      &:hover{
        figure{
          img{
            opacity: 0.2;
         }
        }
      }
      .content {
        color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        top:auto;
        width: 100%;
        height: 100%;
        height: auto;
        padding-right:3.28125rem;
        padding-left:3.28125rem;
        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
        header{
          /*padding: 0 2.8125rem;*/
          .title{
            font-size:2rem;
            font-family: 'MyriadPro';
            margin: 0 0 1.25rem;
            /*word-spacing: -0.15em;*/
            font-weight: 500;
            line-height: 1;
            display: inline-block;
          }
        }
        @media screen and (max-width:992px) and (orientation:portrait){
          header{
            /*padding: 0 2.8125rem;*/
            .title{
              font-size:1.375rem;
              margin: 0 0 0.625rem;
            }
          }
        }
        @media screen and (max-width:480px) {
          header{
            /*padding: 0 1.5rem 0.3125rem;*/
            .title{
              font-size:2rem;
              margin: 0 0 1rem;
            }
          }
        }
        .desc{
          /*display: none;*/
          /*padding: 0 2.8125rem 2.5rem;*/
          padding-bottom: 2.5rem;
          p{
            margin-bottom: 1rem;
            font-size: 1rem;
            font-family: 'MyriadPro';
            font-weight: 300;
            color:#fff;
            margin: 0;
            letter-spacing: 1px;
          }
          .btn-wr{
            margin-top:0.9375rem;
            margin-left: -0.1875rem;
            margin-right: -0.1875rem;
            .btn{
              margin:0 0.1875rem;
            }
          }
        }
        @media screen and (max-width:992px) and (orientation:portrait){
          .desc{
            /*padding: 0 2.8125rem 1.875rem;*/
            padding-bottom: 1.5rem;
            p{
              margin-bottom: 0.625rem;
              font-size: 1rem;
              margin: 0;
            }
          }
        }
        @media screen and (max-width:480px) {
          .desc{
            /*padding: 0 1.5rem 1.5rem;*/
            padding-bottom:  1.5rem;
            p{
              margin-bottom: 1rem;
            }
            /*.btn-wr{
              margin: 0 0 0.3125rem;
              .btn{
                min-width: unset;
                padding: 0.5625rem 0.5rem;
              }
            }*/
          }
        }
        
      }
      @media screen and (max-width:992px) and (orientation:portrait){
        .content {
          padding-right:1.5rem;
          padding-left:1.5rem;
        }
      }
      @media screen and (max-width:480px) {
        .content {
          padding-right:1.5rem;
          padding-left:1.5rem;
        }
      }

      .d-link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: -100000px;
      }
    }
    footer{
      margin-top: 2rem;
    }
    @media screen and (max-width:480px) {
      footer{
        margin-top:1rem;
        margin-bottom: 1rem;
      }
    }
    &::before,&::after {
      pointer-events: none;
    }
  }
  &.resources-container{
    .projects-wrapper {
      .effect-goliath{
        figure{
          background-size: cover;
          background-position: center;
          position: relative;
          &:after{
            content:"";
            position: absolute;
            top:0;
            bottom: 0;
            right:0;
            left:0;
            background-color:$brand;
            opacity: 0;
            transition: all .35s;
          }
          img{
            opacity: 0;
          }
        }
        &:hover{
          figure{
            &:after{
              opacity: .6;
            }
          }
        }
        .content {
          padding:0 0.46875rem; 
          header.desc{
            padding: 0 0.9375rem 0.9375rem;
            line-height: 1;
            .title{
              font-size: 1rem;
              margin: 0;
            }
          }
        }
        .m-link-wr {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 60%;
          opacity: 0;
          -webkit-transition: opacity .5s,-webkit-transform .5s;
          transition: opacity .5s,transform .5s;
          -webkit-transform: translate3d(0,20vh,0);
          transform: translate3d(0,20vh,0);
        }
        &.show .m-link-wr {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          opacity: 1;
        }

      }
    }
  }
}


@media screen and (max-width:480px) {
  .projects-container {
    margin-top: 0;
    &:not(.resources-container){
      padding-top:0;
    }
  }
}
