
$brand: #01405f;
.slider-dual{
	margin:0 auto;
	position: relative;
	height:60vh;
	height: 30vh;
}
.img-wr{
  background-color: $brand;
}
.img-wr figcaption {
  position: absolute;
  bottom: .8rem;
  right: 1rem;
	color: #fff;
	color:$brand;
  font-size: 1rem;
  font-family: 'Federo';
	line-height: 1;
	opacity: .5;
	transition: opacity .5s;
	small{
		display: block;
	}
}
.slider-dual>.img-wr{
	position: absolute;
  left:50%;
  left: 34%;
	top:50%;
	max-width:50%;
	width:50%;
  height: 100%;
  height:unset;
	transition: transform .5s;
	transform: translate(-50%,-50%)scale(1);
	z-index: 0;
	margin:0;
}
.slider-dual .img-wr img{
	transition: all .5s;
	width:100%;
}
.slider-dual>.left , .slider-dual>.center , .slider-dual>.right{
	display:inline-block;
	opacity: 1;
	
}
.slider-dual>.left{
	transform: translate(-118.25%,-50%);
	z-index: 1;
}
.slider-dual>.center{
	z-index: 2;
	transform:translate(-50%,-35%) scale(1.1);
	figcaption{
		opacity: 1;
	}
}
.slider-dual>.right{
	transform: translate(18.25%,-65%);
  z-index: 1;
  img{
    opacity: .5;
  }
}
.slider-dual>.navContainer{
	width:49%;
	height: 100%;
	position: relative;
	display:inline-block;
	z-index: 500;
}
.slider-dual>.navContainer>.leftClass,.slider-dual>.navContainer>.rightClass{
	height: 100%;
	width:28px;
	background: url(img/slider-arrow.png) no-repeat center;
	background-position-x:0;
	position: absolute;
	opacity:0.6;
}
.slider-dual>.navContainer>.rightClass{
	right: 0;
	background-position-x:-30px;

}
.slider-dual>.navContainer>.leftClass{
	left:0;
}

@media screen and (max-width:480px) {
	.slider-dual {
		margin: -30px auto -20px;
		height: 60vh;
	}
}