/*** swiper ***/
@import './../common/animation.scss';
/*
.main-slider-container{
 
}*/
[class^="swiper-button-"] {
    transition: all 0.3s ease;
  }
  
  .swiper-container {
    width: 100%;
    height: calc(100vh - 6.25rem);
    float: left;
    transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.6s ease, transform 0.3s ease;
    transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    &:hover {
      .swiper-button-prev, .swiper-button-next {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
    &.loading {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*&:after {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.48);
      transition-duration: 3.5s;
      transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99);
      will-change: transform, opacity, background-color;
    }*/
  }
  
  
  .slide-focused.swiper-slide:after {
    background-color: rgba(0, 0, 0, 0);
  }
  
  footer.swiper-slide{
    width: 100%;
    .sitemap{
      height:100%;
      padding: 0;
      &:after {
        content: "";
        width: 4vw;
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
      }
    }
  }
  .swiper-slide {
    width: 100%;
    overflow: hidden;
    .slide-bgimg {
      position: absolute;
      top: 0;
      left: 0;
      width: 111%;
      height: 100%;
      background-position: center;
      background-size: cover;
      margin: 0;
    }
    &.triggered .slide-bgimg {
      transition: all 1600ms ease 0s !important;
    }
    .entity-img {
      display: none;
    }
    .content {
      position: absolute;
      height: 100%;
      /*padding-left: 5%;*/
      color: #fff;
      display: flex;
      align-items: center;
      .content-wr {
        display: inline-block;
        .inner{
          .inner-wr{
            position: relative;
            padding: 0 20px;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            align-items: start;
            padding: 0;
            flex-direction: column;
            .init{
              position: absolute;
              top: 40%;
              overflow: hidden;
              margin: 0 !important;
              span{
                padding: 0 0.9375rem;
                display: inline-block;
                white-space: nowrap;
              }
            }
            .prime {
              
              .prime-inner{
                
                padding: 0;
                
                position: relative;
                display: block;
                &.is-hidden{
                  height: .5px;
                  width: .5px;
                  max-height: .5px;
                  min-height: .5px;
                }
              }
            }
            .title {
              font-size: 4.5625rem;
              line-height: 4.3125rem;
              font-weight: bold;
              position: relative;
              display: inline-block;
              padding: 0 20px;
              margin: 0;
              box-sizing: content-box;
              display: flex;
              align-items: flex-start;
            }
          }
        }
        
      }
    }
     .content .content-wr .inner-wr:before {
        content: "";
        top: 0;
        bottom: 0;
        width: 25vw;
        background: #fff;
        position: absolute;
        height: 0.08rem;
        z-index: 9;
        left: -25vw;
        margin: auto;
        opacity: .3;
      }
      
     .content .content-wr .inner-wr:after {
      content: "";
      top: 0;
      bottom: 0;
      width: 75vw;
      background: #fff;
      position: absolute;
      height: 0.08rem;
      z-index: 9;
      right: -75vw;
      margin: auto;
      opacity: .3;
    }
     .content .content-wr span.line.line-a, 
     .content .content-wr span.line.line-b {
      top: 0;
      bottom: 0;
      width: 0;
      background: #fff;
      position: absolute;
      height: 0.09375rem;
      z-index: 9;
      margin: auto;
      opacity: 1;
    }
     .content .content-wr span.line.line-a {
      left: -25vw;
      transition: all 800ms ease .0s;
    }
    .content .content-wr .line-b-wr{
      position: relative;
      right: -100%;
      top: -50%;
      width: 0;
      min-height: 0px;
      display: inline-block;
      @media all and (-ms-high-contrast:none){
        right: -50%;
     }
    }
    .content .content-wr span.line.line-b {
        /*right: -75vw;*/
        left: 8.5vw;
        left: 0;
        right: 0;
        transition: all 3000ms ease 0.9s;
    }
    &[data-swiper-slide-index="0"] .content .content-wr .inner-wr:before,
    &[data-swiper-slide-index="0"] .content .content-wr span.line.line-a{
      opacity: 0;
    }

    &.swiper-slide-next .content .content-wr .line-a, 
    &.swiper-slide-next .content .content-wr .line-b{
      transition: all 0ms ease 0s !important;
    }
  }
  
  /*.swiper-slide-active.swiper-slide .content .content-wr .title:before,
          .swiper-slide-active.swiper-slide .content .content-wr .title:after{
              opacity: 1;
          }*/
  
  .slide-seen.swiper-slide {
     .content .content-wr span.line.line-a {
      width: 25vw;
    }
    .content .content-wr span.line.line-b {
      width: 75vw;
    }
  }
  
  .swiper-slide {
    .content .content-wr .title span.title-text {
      overflow: hidden;
      &.reshow {
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
      }
    }
    &:first-child .content .content-wr .title:before {
      display: none;
    }
    .content .content-wr {
      .desc-wr{
        /*width: 560px;*/
        position: absolute;
        left: 0;
        /*bottom: -0.625rem;
        bottom:-80%;*/
        overflow: hidden;
        transform: translate3d(0px,10px,0);
        &.is-hidden{
          width: .5px;
          display: block;
        }
        .desc {
          position: absolute;
          display: block;
          width: 560px;
          width: 37vw;
          padding: 0 20px;
          font-size: 1rem;
          line-height: 1.4;
          transition: opacity 0.3s ease, -webkit-transform 800ms ease;
          transition: opacity 0.3s ease, transform 800ms ease;
          transition: opacity 0.3s ease, transform 800ms ease, -webkit-transform 800ms ease;
          /*min-width: 33.125rem;
          -webkit-transform: translateX(50px);
          transform: translateX(50px);*/
          &.is-hidden{
            opacity: 0;
          }
          &.show {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
  }
  
  [class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
  }
  
  .swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  .swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }