@import '../common/colors.scss';

.text-blocks{
  margin-top: 1.25rem;
  article{
    .inner-wr{
      background-color: $light01-a;
      padding: 1.875rem 1.25rem;
      h2{
        font-size: 1rem;
        font-family: 'MyriadPro';
        font-weight: 600;
        color:$brand;
        margin: 0 0 1.2rem;
      }
      p{
        font-size: .8rem;
        font-family: 'MyriadPro';
        font-weight: 300;
        color:$brand-dark;
        line-height: 1.9;
        margin: 0 0 1.7rem 0;
      }
      footer{
        ul{
          margin: 0;
          li{
            font-size: .65rem;
            font-family: 'MyriadPro';
            font-weight: 300;
            color:$brand-light-shade;
            letter-spacing: 1px;
            letter-spacing: 0.0625rem;
            &:not(:last-child) {
              margin-right: 1.5625rem;
            }
            a{
              text-decoration:none;
              --class-item-bg: $brand-light-shade;
              color:$brand-light-shade;
              &:hover{
                text-decoration: none;
                color:$brand-light-shade;
              }
              &:after{
                height: 1px;
                height: 0.0625rem;
                bottom: -1px;
                bottom: -0.0625rem;
              }
            }
            .topics-icon{
              display: inline-block;
              height: 7px;
              height:0.4375rem;
              width: auto;
              margin:-1px 5px 0 0;
              margin:-0.0625rem 0.3125rem 0 0;
            }
            span{
              margin:0 5px 0 0;
              margin:0 0.3125rem 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (orientation:portrait) {
  .dashboard-content{
    .text-blocks{
      article{
        &:first-child{
          .inner-wr{
            padding: 1.5rem 1.25rem 1rem;
          }
        }
        &:last-child{
          .inner-wr{
            padding: 1rem 1.25rem 1.5rem;
          }
        }
        .inner-wr{
          padding: .5rem 1.25rem;
          /*&:not(:last-child){

          }*/
          h2{
            margin: 0 0 .9rem;
          }
          p{
            margin: 0 0 .5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px){
  .dashboard-content{
    .text-blocks{
      margin-top: 0;
      article{
        &:first-child{
          .inner-wr{
            padding: 1.875rem 1.25rem 1rem;
          }
        }
        &:last-child{
          .inner-wr{
            padding: 1rem 1.25rem 1.875rem;
          }
        }
        .inner-wr{
          padding: 1rem 1.25rem;
          /*&:not(:last-child){

          }*/
          h2{
            margin: 0 0 .9rem;
          }
          p{
            margin: 0 0 .5rem;
          }
        }
      }
    }
  }
}