
$brand: #01405f;

#pop-video{
  .modal-content{
    border-radius: 0;
  }
  .modal-dialog {
    max-width: unset;
    /*margin: 30px auto;*/
  }
  .modal-body{
    padding: 0;
  }
  .close {
    position: absolute;
    right: -38px;
    top: -1px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    background-color: #01405f;
    color: #fff;
    opacity: 1;
    line-height: 1;
    display: inline-block;
    padding: 0 7px 7px;
  } 
}

.modal.show  {
  display:flex!important;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items: flex-start;
}

@media screen and (max-width:480px) {
  #pop-video{
    .close {
      right: -2px;
    } 
  }
}