@font-face {
    font-family: 'HelveticaNeueExtBlackCond';
    src: url('fonts/HelveticaNeueExtBlackCond.eot');
    src: url('fonts/HelveticaNeueExtBlackCond.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueExtBlackCond.woff2') format('woff2'),
         url('fonts/HelveticaNeueExtBlackCond.woff') format('woff'),
         url('fonts/HelveticaNeueExtBlackCond.ttf') format('truetype'),
         url('fonts/HelveticaNeueExtBlackCond.svg#HelveticaNeueExtBlackCond') format('svg');
}
