<div class="breadcrumb-wr" >
  <div class="container" itemprop="breadcrumb">
    <ol class="breadcrumb mb-0" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb-item" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books">
          <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li>/</li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb-item active" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books/sciencefiction">
          <span itemprop="name">Science Fiction</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
      
</div>