<div class="modal fade" id="promo" tabindex="-1" role="dialog" aria-labelledby="promo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content lazyload" data-bg="./assets/images/misc/popup-bg@2x.jpg">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="img-fluid btn-close svg" data-src="./assets/images/misc/icon-close.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="Close">
                </button>
                <div class="d-flex w-100">
                    <div class="col-5">
                        <div class="feat-img-wr">
                            <img class="img-fluid offset-machine lazyload" data-src="./assets/images/features/machine@2x.png" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
                        </div>
                    </div>
                    <div class="col-7 content">
                        <h1 class="title">
                            <strong>Get 30% off</strong>
                            <span>On Mechines</span>
                        </h1>
                        <div class="input-group">
                            <input type="text" class="form-control disable" value="LUMIA 30" aria-label="Promo code" aria-describedby="redeem" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-accent" type="button" id="redeem">Redeem</button>
                            </div>
                        </div>
                        <h2 class="sub-title">
                            Or Use it Later
                        </h2>
                        <div class="input-group">
                            <input type="email" class="form-control disable" placeholder="Your email address" aria-label="Email address" aria-describedby="email">
                            <div class="input-group-append">
                                <button class="btn btn-accent btn-icon-wr" type="button" id="email">
                                    <span class="sr-only">Submit</span>
                                    <i class="fab fa-telegram-plane"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input pl-1" id="agree">
                            <label class="form-check-label" for="agree">Yes, I would  like to get updates on exclusive and latest promotions.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>