<header class="banner">

  <div class="h-100 d-flex align-items-end justify-content-start banner-bg lazyload" data-bg="./assets/images/slides/properties.jpg">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-sm-9 col-lg-6 content-white">
          <div class="unveil" data-direction="ttb">
            <div class="dim-wr content-wr v1">
                <h1 class="title">
                  Properties
                </h1>
                <p class="breadcrumbs"><a href="#">Home</a> - <a href="#">Properties</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>