<header class="static-banner">

  <div class="h-100 d-flex align-items-center justify-content-center static-banner-bg" style="background-image: url(./assets/images/banners/calendar-event.jpg);">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-sm-9 col-lg-6 content-white">
          <!--<h1 class="title">
              Events
          </h1>
          <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus. Cras sed nunc pretium.</p>-->
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-to-wr">
    <a class="banner-scroll-to scroll-to " href="#">
      <img class="img-flui bounce icon svg" data-src="./assets/images/misc/arrow-down.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="Scroll to">
    </a>
  </div>
</header>