<div class="calendar-container">
    <!-- Additional required wrapper -->
    <div class="calendar-wrapper row condensed-row d-flex justify-content-between flex-wrap">

<table id="" class="calendar-events" cellspacing="0" cellpadding="10" title="Calendar of events">
    <tbody>
        <tr>
            <td colspan="7" >
                <table class="calendar-list" cellspacing="0" >
                    <tbody>
                        <tr>
                            <td class="calendar_prevnext" >
                                <a href=""title="Go to the previous month">&lt;</a>
                            </td>
                            <td align="center">November 2017</td>
                            <td class="calendar_prevnext" align="right">
                                <a href=""title="Go to the next month">&gt;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th align="center" abbr="Monday" scope="col" class="day" >Mon</th>
            <th align="center" abbr="Tuesday" scope="col" class="day" >Tue</th>
            <th align="center" abbr="Wednesday" scope="col" class="day" >Wed</th>
            <th align="center" abbr="Thursday" scope="col" class="day" >Thu</th>
            <th align="center" abbr="Friday" scope="col" class="day" >Fri</th>
            <th align="center" abbr="Saturday" scope="col" class="day" >Sat</th>
            <th align="center" abbr="Sunday" scope="col" class="day" >Sun</th>
        </tr>
        <tr>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date">1</td>
            <td align="center" class="date">2</td>
            <td align="center" class="date">3</td>
            <td align="center" class="date">4</td>
            <td align="center" class="date">5</td>
        </tr>
        <tr>
            <td align="center" class="active date" data-toggle="popover" data-placement="auto" title="7/6/18 - Test event Test event Test event Test event" data-content="<p>Lorem ipsum dolor sit amet consectur elis lorem ipsum</p><a class='btn btn-primary btn-sm' href='#'>Read more</a>">6</td>
            <td align="center" class="date">7</td>
            <td align="center" class="date">8</td>
            <td align="center" class="date">9</td>
            <td align="center" class="date">10</td>
            <td align="center" class="active date" data-toggle="popover" data-placement="auto" title="7/6/18 - Test event Test event Test event Test event" data-content="<p>Lorem ipsum dolor sit amet consectur elis lorem ipsum</p><a class='btn btn-primary btn-sm' href='#'>Read more</a>">
               11
            </td>
            <td align="center" class="date">12</td>
        </tr>
        <tr>
            <td align="center" class="date">13</td>
            <td align="center" class="date">14</td>
            <td align="center" class="date">15</td>
            <td align="center" class="date">16</td>
            <td align="center" class="date">17</td>
            <td align="center" class="date">18</td>
            <td align="center" class="active date" data-toggle="popover" data-placement="auto" title="7/6/18 - Test event Test event Test event Test event" data-content="<p>Lorem ipsum dolor sit amet consectur elis lorem ipsum</p><a class='btn btn-primary btn-sm' href='#'>Read more</a>">19</td>
        </tr>
        <tr>
            <td align="center" class="date">20</td>
            <td align="center" class="date">21</td>
            <td align="center" class="date">22</td>
            <td align="center" class="date">23</td>
            <td align="center" class="date">24</td>
            <td align="center" class="date">25</td>
            <td align="center" class="date">26</td>
        </tr>
        <tr>
            <td align="center" class="date">27</td>
            <td align="center" class="date">28</td>
            <td align="center" class="date">29</td>
            <td align="center" class="date">30</td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
        </tr>
        <tr>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
            <td align="center" class="date"></td>
        </tr>
    </tbody>
</table>
        
        
    </div>
    
</div>