<section class="fp-section strips">

    <article class="strips__strip">
        <div class="strip__content justify-content-start">
            <div class="bg-wr lazyload d-flex justify-content-center" data-bg="./assets/images/3rd-section/col1-bg@2x.jpg">
                <img data-src="./assets/images/3rd-section/col1-bg@2x.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="hotspot-img lazyload img-fluid" alt="cup">
                <div class="hotspot-elements contain">

                    <div class="hotspot-p" data-left="29" data-top="30">
                        <p class="hotspot" data-text="Ipsum Fringilla Aenean Bibendum Purus">
                            <span class="content">Navigation System</span>
                        </p>
                    </div>
                    <div class="hotspot-p" data-left="17" data-top="50">
                        <p class="hotspot" data-text="Dolor Risus Bibendum Vestibulum Ligula">
                            <span class="content">Autoshift</span>
                        </p>
                    </div>
                    <div class="hotspot-p" data-left="45" data-top="46">
                        <p class="hotspot" data-text="Dapibus Elit Nullam Sit Ligula">
                            <span class="content">Navigation System</span>
                        </p>
                    </div>
                    <div class="hotspot-p" data-left="71" data-top="32">
                        <p class="hotspot" data-text="Tellus Nullam Pharetra Ligula Ipsum">
                            <span class="content">Navigation System</span>
                        </p>
                    </div>
                    <div class="hotspot-p" data-left="30" data-top="79">
                        <p class="hotspot" data-text="Risus Quam Malesuada Justo Lorem">
                            <span class="content">Navigation System</span>
                        </p>
                    </div>
                    <div class="hotspots-label"></div>
                </div>
            </div>
            <div class="strip__title" data-name="Dolor">COFFEE <br>CORNER</div>
            <div class="strip__inner-text d-flex justify-content-end align-items-stretch">
                    <div class="col-4 d-flex  align-items-start content-parent-wr">
                        <div class="content-wr">
                            <header>
                                <h1 class="title">Coffee Corner Name</h1>
                                <h2 class="sub-title">Inspired by</h2>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
                            </header>
                            <p class="sub-title">Tips</p>
                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                            </ol>
                            <footer class="btn-footer row d-flex">
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Learn More</span>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Share</span>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
            </div>
        </div>
    </article>

    <article class="strips__strip">
        <div class="strip__content justify-content-start">
            <div class="bg-wr lazyload d-flex justify-content-center" data-bg="./assets/images/3rd-section/col1-bg@2x.jpg">
                <img data-src="./assets/images/3rd-section/col1-bg@2x.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="hotspot-img lazyload img-fluid" alt="cup">
                <div class="hotspot-elements contain">
                    <p class="hotspot" data-left="9" data-top="30" data-text="Ipsum Fringilla Aenean Bibendum Purus">
                        <span class="text">Navigation System</span>
                    </p>
                    <p class="hotspot" data-left="17" data-top="50" data-text="Dolor Risus Bibendum Vestibulum Ligula">Autoshift</p>
                    <p class="hotspot" data-left="45" data-top="46" data-text="Dapibus Elit Nullam Sit Ligula">Premium Leather</p>
                    <p class="hotspot" data-left="71" data-top="32" data-text="Tellus Nullam Pharetra Ligula Ipsum">Rear Seating</p>
                    <p class="hotspot" data-left="30" data-top="79" data-text="Risus Quam Malesuada Justo Lorem">Seat Controls</p>
                    <div class="hotspots-label"></div>
                </div>
            </div>
            <div class="strip__title" data-name="Dolor">COFFEE <br>CORNER</div>
            <div class="strip__inner-text d-flex justify-content-end align-items-stretch">
                    <div class="col-4 d-flex  align-items-start content-parent-wr">
                        <div class="content-wr">
                            <header>
                                <h1 class="title">Coffee Corner Name</h1>
                                <h2 class="sub-title">Inspired by</h2>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
                            </header>
                            <p class="sub-title">Tips</p>
                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                            </ol>
                            <footer class="btn-footer row d-flex">
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Learn More</span>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Share</span>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
            </div>
        </div>
    </article>

    <article class="strips__strip">
        <div class="strip__content justify-content-start">
            <div class="bg-wr lazyload d-flex justify-content-center" data-bg="./assets/images/3rd-section/col1-bg@2x.jpg">
                <img data-src="./assets/images/3rd-section/col1-bg@2x.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="hotspot-img lazyload img-fluid" alt="cup">
                <div class="hotspot-elements contain">
                    <p class="hotspot" data-left="9" data-top="30" data-text="Ipsum Fringilla Aenean Bibendum Purus">
                        <span class="text">Navigation System</span>
                    </p>
                    <p class="hotspot" data-left="17" data-top="50" data-text="Dolor Risus Bibendum Vestibulum Ligula">Autoshift</p>
                    <p class="hotspot" data-left="45" data-top="46" data-text="Dapibus Elit Nullam Sit Ligula">Premium Leather</p>
                    <p class="hotspot" data-left="71" data-top="32" data-text="Tellus Nullam Pharetra Ligula Ipsum">Rear Seating</p>
                    <p class="hotspot" data-left="30" data-top="79" data-text="Risus Quam Malesuada Justo Lorem">Seat Controls</p>
                    <div class="hotspots-label"></div>
                </div>
            </div>
            <div class="strip__title" data-name="Dolor">COFFEE <br>CORNER</div>
            <div class="strip__inner-text d-flex justify-content-end align-items-stretch">
                    <div class="col-4 d-flex  align-items-start content-parent-wr">
                        <div class="content-wr">
                            <header>
                                <h1 class="title">Coffee Corner Name</h1>
                                <h2 class="sub-title">Inspired by</h2>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
                            </header>
                            <p class="sub-title">Tips</p>
                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing 	elit. Mauris hendrerit nunc vel placerat vulputate. Vestibulum fringilla imperdiet nulla, nec sollicitudin risus rutrum cursus.</li>
                            </ol>
                            <footer class="btn-footer row d-flex">
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Learn More</span>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary btn-rounded btn-block">
                                        <span class="text">Share</span>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
            </div>
        </div>
    </article>


    <span class="strip__close">
        <img class="img-fluid btn-close svg" data-src="./assets/images/misc/icon-close.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="Close">
    </span>
    </section>