
<div class="rankings-container">

   <div class="row d-flex justify-content-center ">

    
      <div class="filters d-flex justify-content-center align-items-center">

        <div class="title">
          Filter by:
        </div>
        <div class="ui-group d-flex justify-content-center">
          <select id="select-points" class="filter-select" value-group="points" title="Points" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value="number200">0-200</option>
            <option value="number400">201-400</option>
            <option value="number600">401-600</option>
            <option value="number800">601-800</option>
            <option value="number1050">801-1050</option>
            <option value="number2000">1051-2000</option>
          </select>
        </div>

        <div class="ui-group d-flex justify-content-center">
          <select id="select-emirates" class="filter-select" value-group="emirates" title="Emirates" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value=".dubai">Dubai</option>
            <option value=".ajman">Ajman</option>
          </select>
        </div>
      
      </div>

      <div class="grid grid-isotop row">

        <div class="grid-sizer col-12 col-sm-6"></div>

        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item dubai" itemtype="http://schema.org/DonateAction">

            <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
              <div class="fig-inner-wr lazyload">
                <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/Global-Association-Hubs-logo.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
              </div>
            </figure>

            <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
              <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>

              <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/Global-Association-Hubs-logo.png)"></div>

              <dl class="dl-list">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
              </dl>
              <dl class="dl-list">
                <dt>Emirate:</dt>
                <dd class="var-emirate" data-line="3" temprop="description" >Dubai</dd>
              </dl>
          </div>

        </article>

        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition ajman" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/asae-logo.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/asae-logo.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">300</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
            
          </div>

        </article>

        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition dubai" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/dubai-chamber.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/dubai-chamber.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">300</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
              
          </div>

        </article>

        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition ajman" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/dubai-customs.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/dubai-customs.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">300</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
              
          </div>

        </article>
      
        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition dubai" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/MCI-logo.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/MCI-logo.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">500</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
              
          </div>

        </article>
       
        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition ajman" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/government-ae-logo-english.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/government-ae-logo-english.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">401</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
            
          </div>

        </article>
        
        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition dubai" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/Global-Association-Hubs-logo.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/Global-Association-Hubs-logo.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">300</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
              
          </div>

        </article>

        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition ajman" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/dubai-chamber.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/dubai-chamber.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">300</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
            
          </div>

        </article>
      
        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition dubai" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/asae-logo.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/asae-logo.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">500</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
            
          </div>

        </article>
       
        <article class="col-12 col-sm-6 article-contributions row row-condensed align-items-stretch flex-sm-row match-wr element-item transition ajman" data-category="transition" itemtype="http://schema.org/DonateAction">

          <figure class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-center sm-figure" >
            <div class="fig-inner-wr lazyload">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/partners/dubai-customs.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </div>
          </figure>

          <div class="col-8 col-sm-7 col-md-7 col-lg-7 col-xl-8">
            <h1 class="title ellipsis ellipsis-xs max" data-line="2" data-xs-line="3" itemprop="name">Contributor's Name</h1>

            <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/partners/dubai-customs.png)"></div>

            <dl class="dl-list">
                <dt>Points:</dt>
                <dd itemprop="price" class="val-point">401</dd>
            </dl>
            <dl class="dl-list">
              <dt>Emirate:</dt>
              <dd class="var-emirate" data-line="3" temprop="description" >Ajman</dd>
            </dl>
            
          </div>
        </article>


    </div>

    <footer class="mt-4 d-flex justify-content-center row">
        <a href="#" class="btn btn-outline-light">See all contributions</a>
    </footer>

</div> 