
<div class="rankings-container contibutions-container">

   <div class="row d-flex justify-content-center ">

    
      <div class="filters d-flex justify-content-center align-items-center">

        <div class="title">
          Filter by:
        </div>
        <div class="ui-group d-flex justify-content-center">
          <select id="select-category" class="filter-select" value-group="category" title="Category" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value=".clean-energy">Clean Energy</option>
            <option value=".gender-empowerment">Gender Empowerment</option>
            <option value=".health">Health</option>
            <option value=".education-and-livelihood">Education & Livelihood</option>
            <option value=".economic-and-growth">Economic Growth</option>
            <option value=".climate-change-and-environment">Climate Change & Environment</option>
            <option value=".biodiversity-and-environment">Biodiversity & Environment</option>
            <option value=".sustainable-infrastructure-and-development">Sustainable Infrastructure & Development</option>
            <option value=".heritage-and-national-identity">Heritage & National Identity</option>
          </select>
        </div>

        <div class="ui-group d-flex justify-content-center">
          <select id="select-emirates" class="filter-select" value-group="emirates" title="Emirates" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value=".abu-dhabi">Abu Dhabi</option>
            <option value=".ajman">Ajman</option>
            <option value=".dubai">Dubai</option>
            <option value=".fujairah">Fujairah</option>
            <option value=".ras-al-khaimah">Ras Al Khaimah</option>
            <option value=".sharjah">Sharjah</option>
            <option value=".umm-al-quwain">Umm Al Quwain</option>
          </select>
        </div>

        <!--<div class="ui-group d-flex justify-content-center">
          <select id="select-points" class="filter-select" value-group="points" title="Contribution" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value="number200">0-200</option>
            <option value="number400">201-400</option>
            <option value="number600">401-600</option>
            <option value="number800">601-800</option>
            <option value="number1050">801-1050</option>
            <option value="number2000">1051-2000</option>
          </select>
        </div>-->

        
      
      </div>
 
      <div class="grid grid-isotop row match-projects d-flex flex-row">

        <div class="grid-sizer col-12 col-sm-6 col-12 col-md-4"></div>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item abu-dhabi clean-energy" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                  <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/upscalling-the-environment.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                  <figcaption class="info-box">
                      Upscalling the environment of People with Disabilities (People of Determination) center
                  </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="./assets/images/csr-member.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">1000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                    <h1 class="card-title">Microsoft Business Marketing MENA LLC Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 24-07-2018</small>
              </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item ajman gender-empowerment" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                  <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/mobile-unit.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                  <figcaption class="info-box">
                    Mobile unit for the people with disability (people of determination)
                  </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="./assets/images/dac-1-1.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">10000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                    <h1 class="card-title">Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 22-07-2018</small>
              </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai health" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                  <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/expansion-and-development-of-autism.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                  <figcaption class="info-box">
                      Expansion and Development of Autism and Vocational Rehabilitation Unit
                  </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="https://randomuser.me/api/portraits/women/14.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">10000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                    <h1 class="card-title">Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 16-07-2018</small>
              </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item ras-al-khaimah education-and-livelihood" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/mobile-unit.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                <figcaption class="info-box">
                    Upscalling the environment of People with Disabilities (People of Determination) center
                </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="./assets/images/csr-member.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">10000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                    <h1 class="card-title">Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 24-07-2018</small>
              </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item sharjah economic-and-growth" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/mobile-unit.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                <figcaption class="info-box">
                    Upscalling the environment of People with Disabilities (People of Determination) center
                </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="./assets/images/dac-1-1.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">10000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                      <h1 class="card-title">Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 22-07-2018</small>
              </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item umm-al-quwain climate-change-and-environment" itemtype="http://schema.org/DonateAction">
          <div class="card profile-card-4">
              <figure class="card-img-block">
                <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/mobile-unit.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
                <figcaption class="info-box">
                    Upscalling the environment of People with Disabilities (People of Determination) center
                </figcaption>
              </figure>
              <div class="card-body text-left">
                  <figure class="profile d-flex align-items-center justify-content-center">
                    <img data-src="https://randomuser.me/api/portraits/women/14.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="profile-image" class=" img-fluid lazyload"/>
                  </figure>
                  <div class="info">
                    <dl class="dl-list">
                      <dt>Contributed:</dt>
                      <dd class="var-emirate" temprop="description">
                        <span class="val-point">10000</span>
                        <span class="curr">AED</span>
                      </dd>
                    </dl>
                  </div>
                  <div class="card-title-wr d-flex align-items-center">
                    <h1 class="card-title">Microsoft Business Marketing MENA LLC</h1>
                  </div>
              </div>
              <div class="card-footer d-flex align-items-center">
                <small class="text-muted">Contributed: 16-07-2018</small>
              </div>
          </div>
        </article>
        
      </div>
    

    <footer class="mt-4 d-flex justify-content-center row">
        <a href="#" class="btn btn-outline-primary">See all contributions</a>
    </footer>

</div> 