<div class="contributions-container">

  <div class="row d-flex justify-content-center">

    <div class="col-12 col-sm-12 col-md-8 col-lg-9 ">

      <article class="article-contributions row d-flex align-items-stretch flex-sm-row match-wr" itemtype="http://schema.org/DonateAction">

        <figure class="col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center d-none d-sm-block sm-figure">
          <div class="fig-inner-wr lazyload" data-bg="./assets/images/projects/project-dummy-thumb-01.jpg">
            <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              alt="Event Feature Img test" />
          </div>
        </figure>

        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <time class="date" itemprop="startDate" datetime="2017-11-13">13th November 2017</time>
          <h1 class="title" itemprop="name">Contributor's Name</h1>

          <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/events/events-dummy-thumb-01.jpg)"></div>

          <dl class="dl-list">
            <dt>Contribution amount:</dt>
            <dd itemprop="price" class="amount">100</dd>
          </dl>
          <dl class="dl-list">
            <dt>Project:</dt>
            <dd class="ellipsis ellipsis-xs max" data-line="3" temprop="description">Upscalling the enviroment of People with Disabilities (People of Determination Center)</dd>
          </dl>


          <footer class="d-flex flex-nowrap btn-wr">
            <a class="btn btn-light btn-sm" href="#">Contribute</a>
            <a class="btn btn-outline-light btn-sm" href="#">Read more</a>
          </footer>

        </div>


      </article>

      <article class="article-contributions row d-flex align-items-stretch flex-sm-row match-wr" itemtype="http://schema.org/DonateAction">

        <figure class="col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center d-none d-sm-block sm-figure">
          <div class="fig-inner-wr lazyload" data-bg="./assets/images/events/events-dummy-thumb-01.jpg">
            <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/events/events-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              alt="Event Feature Img test" />
          </div>
        </figure>

        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <time class="date" itemprop="startDate" datetime="2017-11-13">13th November 2017</time>
          <h1 class="title" itemprop="name">Contributor's Name</h1>

          <div class="d-block d-sm-none figure-mobile" style="background-image: url(./assets/images/events/events-dummy-thumb-01.jpg)"></div>

          <dl class="dl-list">
            <dt>Contribution amount:</dt>
            <dd itemprop="price" class="amount">100</dd>
          </dl>
          <dl class="dl-list">
            <dt>Project:</dt>
            <dd class="ellipsis ellipsis-xs max" data-line="3" temprop="description">Upscalling the enviroment of People with Disabilities (People of Determination Center)</dd>
          </dl>


          <footer class="d-flex flex-nowrap btn-wr">
            <a class="btn btn-light btn-sm" href="#">Contribute</a>
            <a class="btn btn-outline-light btn-sm" href="#">Read more</a>
          </footer>

        </div>

      </article>

    </div>
  </div>

  <footer class="d-flex justify-content-center row">
    <a href="#" class="btn btn-outline-light">See all contributions</a>
  </footer>

</div>