<div class="counter-container">
    <div class="row d-flex justify-content-between">
        <figure class="col-6 col-sm-6 col-md-3 count-figure">
            <p class="count-wr">
                <!--<span>+</span><span class="counter"  data-count="120">000</span>-->
                <span>+</span>
                <span class="counter timer count-title count-number" data-to="30000" data-speed="1500">000</span>
            </p>
            <figcaption>REGISTERED COMPANIES</figcaption>
        </figure>
        <figure class="col-6 col-sm-6 col-md-3 count-figure">
            <p class="count-wr">
                <!--<span>+</span><span class="counter"  data-count="25">00</span>-->
                <span>+</span><span class="counter timer count-title count-number" data-to="25" data-speed="1500">000</span>
            </p>
            <figcaption>ONGOING PROJECTS</figcaption>
        </figure>
        <figure class="col-6 col-sm-6 col-md-3 count-figure">
            <p class="count-wr">
                <!--<span>+</span><span class="counter"  data-count="200">000</span>-->
                <span>+</span><span class="counter timer count-title count-number" data-to="2300" data-speed="1500" >000</span>
            </p>
            <figcaption>SUBMITTED CONTRIBUTIONS</figcaption>
        </figure>
        <figure class="col-6 col-sm-6 col-md-3 count-figure">
            <p class="count-wr">
                <!--<span>+</span><span class="counter" data-count="258">000</span>-->
                <span>+</span><span class="counter timer count-title count-number" data-to="2580132" data-speed="1500">000</span>
            </p>
            <figcaption>Amount Contributed</figcaption>
        </figure>
    </div>
</div>