<section class="fp-section fp-auto-height-responsive section section-features">
  <ul class="nav nav-pills nav-justified section-features-main-navtabs d-none d-sm-flex" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="lumio-features-tab" data-toggle="pill" href="#lumio-features" role="tab" aria-controls="lumio-features" aria-selected="true">LUMIO FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="flavours-tab" data-toggle="pill" href="#flavours" role="tab" aria-controls="flavours" aria-selected="false">FLAVOURS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="coffee-machines-tab" data-toggle="pill" href="#coffee-machines" role="tab" aria-controls="coffee-machines" aria-selected="false">COFFEE MECHINES</a>
      </li>
    </ul>
    <select class="mobile-select-tabs form-control d-block d-sm-none" id="tab_selector" title="" data-style="btn-primary btn-mobile-tab-select" data-width="100%">
        <option value="lumio-features">LUMIO FEATURES</option>
        <option value="flavours">FLAVOURS</option>
        <option value="coffee-machines">COFFEE MECHINES</option>
    </select>


    <div class="tab-content main-tab-content lazyload" id="pills-tabContent" data-bg="./assets/images/2nd-section/main-bg@2x.jpg">
      ${require('./tab-features.html')}
      ${require('./tab-flavours.html')}
      ${require('./tab-coffee-machines.html')}

      
      
        
    </div>
</section>