<div class="container filters d-flex justify-content-between align-items-center page-hidden">

    <div class="d-flex justify-content-center filter-select-wr">
      <select id="select-category" class="filter-select" value-group="category" title="Type" multiple data-style="btn btn-filter-dark" data-size="" data-actions-box="true">
        <option value="">Apartment</option>
        <option value="">Villa</option>
        <option value="">Town House</option>
      </select>
    </div>

    <div class="d-flex justify-content-center filter-select-wr">
      <select id="select-bedroom" class="filter-select" value-group="bedroom" title="Bedroom" multiple data-style="btn btn-filter-dark" data-size="" data-actions-box="true">
        <option value="">Studio</option>
        <option value="">1 Bedroom</option>
        <option value="">2 Bedroom</option>
        <option value="">3 Bedroom</option>
        <option value="">4 Bedroom</option>
        <option value="">5 Bedroom</option>
      </select>
    </div>
    
    <div class="d-flex justify-content-center filter-select-wr">
      <select id="select-emirates" class="filter-select" value-group="emirates" title="Location" multiple data-style="btn btn-filter-dark" data-size="" data-actions-box="true">
        <option value=".abu-dhabi">Abu Dhabi</option>
        <option value=".ajman">Ajman</option>
        <option value=".dubai">Dubai</option>
        <option value=".fujairah">Fujairah</option>
        <option value=".ras-al-khaimah">Ras Al Khaimah</option>
        <option value=".sharjah">Sharjah</option>
        <option value=".umm-al-quwain">Umm Al Quwain</option>
      </select>
    </div>

    <div class="d-flex justify-content-center filter-select-wr">
      <select id="select-points" class="filter-select" value-group="points" title="Bedrooms" multiple data-style="btn btn-filter-dark" data-size="" data-actions-box="true">
        <option value="number200">Below 500K</option>
        <option value="number400">500K - 1M</option>
        <option value="number600">1M - 1.5M</option>
        <option value="number800">1.5M - 2M</option>
        <option value="number1050">2M - 3M</option>
        <option value="number2000">3M - 4M</option>
      </select>
    </div>

    <div class="d-flex justify-content-center filter-select-wr">
      <button class="btn btn-filter-dark d-flex flex-nowrap align-items-center justify-content-between">
        Seach
        <span class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg" data-src="./assets/images/icons/arrow-right.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
        </span>
      </button>
    </div>
    
  </div>
</section>