<section class="section section-hero-banner nav-blurr">

  
    <div class="h-100 w-100 hero-bg-wr lazyload" data-bg="./assets/images/banner/main@2x.jpg">

        <div class="full-video-wr full-video-main-wr h-100 w-100">
            <div id="main-video" style="width: 100%;height: 100%;"></div>
            <div class="player" id="main-video-target" data-property=""></div>
        </div>

        <div class="hero-overlay-bg page-hidden">
            <svg class="svg-bar" width="1440px" height="124px" viewBox="0 0 1440 124" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="49.6215254%" y1="-26.3908418%" x2="49.6215254%" y2="116.865152%" id="linearGradient-1">
                        <stop stop-color="#95D9FF" offset="0%"></stop>
                        <stop stop-color="#003D60" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-page-Flavours-@2x" transform="translate(0.000000, -653.000000)" fill="url(#linearGradient-1)">
                        <path d="M-13.8386607,652 C239.225719,673.505376 492.338606,684.258065 745.5,684.258065 C998.661394,684.258065 1251.82806,673.505376 1505,652 L1505,777 L-14,777" id="Path-2"></path>
                    </g>
                </g>
            </svg>
        </div>
        
        <div class="overlay-content-wr d-flex text-center align-items-center justify-content-center h-100 w-100">
            <div class="overlay-content-bg w-100 lazyload" data-bg="./assets/images/banner/main-overlay@2x.jpg">
                <div class="full-video-wr h-100">
                    <div id="bg-video" style="width: 100%;height: 100%;"></div>
                    <div class="bg-player" data-desktop="{videoURL:'5zzpK3qT068',containment:'#bg-video', showControls:false, autoPlay:true, loop:true, mute:true, startAt:1, opacity:1, addRaster:false, quality:'default',stopMovieOnBlur:false,playOnlyIfVisible:true}" data-mobile="{videoURL:'Ibnvu67PTbE',vol:'0',containment:'#bg-video', showControls:false, autoPlay:true, loop:true, mute:true, startAt:1, opacity:1, addRaster:false, quality:'default',stopMovieOnBlur:false,playOnlyIfVisible:true}"></div>
                </div>
            </div>

            <div class="overlay-content" data-aos="" ata-aos-easing="ease" data-aos-duration="800" data-aos-delay="400">
                <div class="context-wr">
                    <h1 class="title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">Welcome</h1>
                    <p class="desc"  data-aos="fade-up" data-aos-easing="ease" data-aos-duration="600" data-aos-delay="400">Please click on the capsule below to begin!</p>        
                </div>
                <div class="btn-images-wr d-flex justify-content-between align-items-center">
                    <a href="#" class="js-banner-trigger-show-play cap-trigger-link" data-yt="6vWS20c8Qak" data-yt-mobile="WyIwbKzjBzo">
                        <img itemprop="photo" class="cap-trigger-img img-fluid lazyload" data-delay="1000ms" data-src="./assets/images/capsule/ice@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Cappucino Ice" />
                    </a> 
                    <a href="#" class="js-banner-trigger-show-play cap-trigger-link" data-yt="5zzpK3qT068" data-yt-mobile="Ibnvu67PTbE">
                        <img itemprop="photo" class="cap-trigger-img cap-trigger-main-img img-fluid lazyload" data-delay="500ms" data-src="./assets/images/capsule/espresso@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Espresso" />
                    </a>
                    <a href="#" class="js-banner-trigger-show-play cap-trigger-link" data-yt="nunvLG8PoTM" data-yt-mobile="IXrSGRR-YU0">
                        <img itemprop="photo" class="cap-trigger-img img-fluid lazyload" data-delay="1500ms" data-src="./assets/images/capsule/caramel@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Caramel" />
                    </a>   

                    <div class="arrow-wr infinite" data-aos="fade-down-right" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="2000">
                        <svg width="42px" height="50px" viewBox="0 0 42 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">           
                            <defs></defs>
                            <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="bevel">
                                <g id="welcome-msg-@2x" transform="translate(-345.000000, -455.000000)" stroke="#fff" stroke-width="3">
                                    <g id="Group-2" transform="translate(347.000000, 456.000000)">
                                        <path d="M0.40210811,0.653418057 C0.380224951,13.8844727 4.88505896,23.8780571 13.9166101,30.6341712 C26.2864347,39.8875038 37.6577036,41.0667097 37.6577036,41.0667097" id="1"></path>
                                        <path d="M37.5,40.5 L32.5,29.5" id="2"></path>
                                        <path d="M37.5,41.5 L25.5,47.5" id="3"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-rounded js-banner-trigger-show" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="2000" data-aos-anchor=".cap-trigger-main-img">
                    <span class="text">Let’s do it</span>
                </a>
            </div>
        </div>
    </div>
  </section>


