<div class="row d-flex align-items-center flex-row">

    <article class="col-6 col-sm-3 news-content" itemtype="https://schema.org/NewsArticle">
        <div class="inner-wr">
            <div class="row flex-column d-flex align-items-center flex-sm-row content-wr">
                <figure class="sm-figure col-12 text-center">
                    <img itemprop="photo" class="img-fluid w-100 lazyload" data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img" />
                </figure>
                <div class="col-12 text-center">
                    <h1 class="title ellipsis ellipsis-xs max" data-line="2"  itemprop="name">Event title goes here </h1>
                    
                    <p itemprop="description" class="desc ellipsis ellipsis-xs max" data-line="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac commodo sapien. Etiam at magna enim. Aenean iaculis urna sit amet erat rhoncus tempus. Aenean iaculis urna sit amet erat rhoncus tempus.</p>
                    <p><a href="#" class="btn btn-sm btn-outline-primary">Read More</a></p>
                </div>
            </div>
        </div>
    </article>

    <article class="col-6 col-sm-3 news-content" itemtype="https://schema.org/NewsArticle">
        <div class="inner-wr">
            <div class="row flex-column d-flex align-items-center flex-sm-row content-wr">
                <figure class="sm-figure col-12 text-center">
                    <img itemprop="photo" class="img-fluid w-100 lazyload" data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img" />
                </figure>
                <div class="col-12 text-center">
                    <h1 class="title ellipsis ellipsis-xs max" data-line="2"  itemprop="name">Event title goes here </h1>
                    
                    <p itemprop="description" class="desc ellipsis ellipsis-xs max" data-line="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac commodo sapien. Etiam at magna enim. Aenean iaculis urna sit amet erat rhoncus tempus. Aenean iaculis urna sit amet erat rhoncus tempus.</p>
                    <p><a href="#" class="btn btn-sm btn-outline-primary">Read More</a></p>
                </div>
            </div>
        </div>
    </article>

    <article class="col-6 col-sm-3 news-content" itemtype="https://schema.org/NewsArticle">
        <div class="inner-wr">
            <div class="row flex-column d-flex align-items-center flex-sm-row content-wr">
                <figure class="sm-figure col-12 text-center">
                    <img itemprop="photo" class="img-fluid w-100 lazyload" data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img" />
                </figure>
                <div class="col-12 text-center">
                    <h1 class="title ellipsis ellipsis-xs max" data-line="2"  itemprop="name">Event title goes here </h1>
                    
                    <p itemprop="description" class="desc ellipsis ellipsis-xs max" data-line="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac commodo sapien. Etiam at magna enim. Aenean iaculis urna sit amet erat rhoncus tempus. Aenean iaculis urna sit amet erat rhoncus tempus.</p>
                    <p><a href="#" class="btn btn-sm btn-outline-primary">Read More</a></p>
                </div>
            </div>
        </div>
    </article>

    <article class="col-6 col-sm-3 news-content" itemtype="https://schema.org/NewsArticle">
        <div class="inner-wr">
            <div class="row flex-column d-flex align-items-center flex-sm-row content-wr">
                <figure class="sm-figure col-12 text-center">
                    <img itemprop="photo" class="img-fluid w-100 lazyload" data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img" />
                </figure>
                <div class="col-12 text-center">
                    <h1 class="title ellipsis ellipsis-xs max" data-line="2"  itemprop="name">Event title goes here </h1>
                    
                    <p itemprop="description" class="desc ellipsis ellipsis-xs max" data-line="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac commodo sapien. Etiam at magna enim. Aenean iaculis urna sit amet erat rhoncus tempus. Aenean iaculis urna sit amet erat rhoncus tempus.</p>
                    <p><a href="#" class="btn btn-sm btn-outline-primary">Read More</a></p>
                </div>
            </div>
        </div>
    </article>
    
</div>