<section class="section-light section-light-02 section-partners py-5 py-sm-5 py-md-6 py-lg-6 py-xl-6">
  <div class="container h-100">
      <div class="row h-100 d-flex align-items-center justify-content-between" >

          <div class="col-sm-3 text-content  ">
              <h1 class="content-title text-center text-sm-left">
                  <small>
                      Our
                  </small>
                  <span>
                      Partners
                  </span>
              </h1>
          </div>
          <div class="col-sm-9">
              <div class=" d-flex align-items-center justify-content-between flex-wrap">
                  <div class="partner-logo-wr">
                      <img src="../../assets/images/partners/MCI-logo.png" class="img-fluid partner-logo" alt="Partner Name" />
                  </div>
                  <div class="partner-logo-wr">
                      <img src="../../assets/images/partners/Global-Association-Hubs-logo.png" class="img-fluid partner-logo" alt="Partner Name " />
                  </div>
                  <div class="partner-logo-wr">
                      <img src="../../assets/images/partners/asae-logo.png" class="img-fluid partner-logo" alt="Partner Name" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>