
<div class="rankings-container projects-container">

   <div class="row d-flex justify-content-center ">

    
      <div class="filters d-flex justify-content-center align-items-center">

        <div class="title">
          Filter by:
        </div>
        <div class="ui-group d-flex justify-content-center">
          <select id="select-category" class="filter-select" value-group="category" title="Category" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value=".clean-energy">Clean Energy</option>
            <option value=".gender-empowerment">Gender Empowerment</option>
            <option value=".health">Health</option>
            <option value=".education-and-livelihood">Education & Livelihood</option>
            <option value=".economic-and-growth">Economic Growth</option>
            <option value=".climate-change-and-environment">Climate Change & Environment</option>
            <option value=".biodiversity-and-environment">Biodiversity & Environment</option>
            <option value=".sustainable-infrastructure-and-development">Sustainable Infrastructure & Development</option>
            <option value=".heritage-and-national-identity">Heritage & National Identity</option>
          </select>
        </div>
        <div class="ui-group d-flex justify-content-center">
          <select id="select-points" class="filter-select" value-group="points" title="Points" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value="number200">0-200</option>
            <option value="number400">201-400</option>
            <option value="number600">401-600</option>
            <option value="number800">601-800</option>
            <option value="number1050">801-1050</option>
            <option value="number2000">1051-2000</option>
          </select>
        </div>

        <div class="ui-group d-flex justify-content-center">
          <select id="select-emirates" class="filter-select" value-group="emirates" title="Emirates" data-style="btn-light btn-sm">
            <option value="">All</option>
            <option value=".abu-dhabi">Abu Dhabi</option>
            <option value=".ajman">Ajman</option>
            <option value=".dubai">Dubai</option>
            <option value=".fujairah">Fujairah</option>
            <option value=".ras-al-khaimah">Ras Al Khaimah</option>
            <option value=".sharjah">Sharjah</option>
            <option value=".umm-al-quwain">Umm Al Quwain</option>
          </select>
        </div>
      
      </div>

      <div class="grid grid-isotop row match-projects">

        <div class="grid-sizer col-12 col-sm-6 col-12 col-md-4"></div>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item ras-al-khaimah health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
                <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/upscalling-the-environment.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Upscalling the environment of People with Disabilities (People of Determination) center</h5>
              <p class="card-text">Upscaling the environment includes intelligent electronic devices and technologies.</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Ras Al Khaimah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/mobile-unit.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Mobile unit for the people with disability (people of determination)</h5>
              <p class="card-text">The initiative aims to provide a number of (1) smart mobile unit to provide therapeutic services to owners of the home</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">200</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item fujairah health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/expansion-and-development-of-autism.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Expansion and Development of Autism and Vocational Rehabilitation Unit</h5>
              <p class="card-text">To contribute to the development of the Autism and Vocational Rehabilitation Unit</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">300</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Fujairah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/establishing-and operating.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Establishing and Operating a workshop to enable and qualify people with disabilities (people of determination) to work</h5>
              <p class="card-text">An endowment initiative to establish and operate a workshop that enables and qualifies people with disabilities</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">400</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Fujairah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item ajman health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/equip-the-early-intervention.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Equip the early intervention unit to support the People with Disabilities (People of Determination)</h5>
              <p class="card-text">The amount shall be in the form of annual grant to operate the Early Intervention Uni</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">500</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >ajman</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item ajman health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/operating-the-early-intervention.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Operating the Early Intervention Unit to support People with Disabilities (People of Determination)</h5>
              <p class="card-text">The amount shall be in the form of annual grant to operate the Early Intervention Uni</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">600</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Ajman</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item fujairah health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/endowment-initiative.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Endowment initiative for 2 classes for vocational rehabilitation</h5>
              <p class="card-text">The amount shall be in the form of annual grant to operate 2 classes for vocational rehabilitation to support people with disability</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Fujairah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item fujairah health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/contribute-to-the-expansion-of-autism.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Contribute to the expansion of autism center for children</h5>
              <p class="card-text">The amount is to contribute to the expansion of the center by adding 12 new classes</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Fujairah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item fujairah health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/autism-center-for-children.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Endowment Inititive for expanding the number of classes at the Autism Center for Children</h5>
              <p class="card-text">The amount shall be in the form of annual grant to run one class for Autism Cente</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Fujairah</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/social-enterprise-incubators.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Social Enterprise Incubators</h5>
              <p class="card-text">The incubation of 10 ideas for projects of social entrepreneurship of young people and work with them to transform them into existing projects in the future</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai clean-energy" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/think-science-fair.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Think Science Fair</h5>
              <p class="card-text">Think Science Fair is considered one of the largest exhibition for youth creative projects and innovations</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/green-turtle-conservation.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Green Turtle Conservation in the Arabian Region</h5>
              <p class="card-text">Marine turtle populations are globally threatened because of human activities including modification or loss of nesting beaches, capture in fishing nets, degradation of marine habitats and exploitation of eggs.</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/condolence-tents.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Condolence Tents</h5>
              <p class="card-text">In the context of enhancing the values ​​of social cohesion and reducing the burden of high cost tents of condolence, CDA will provide tents of condolence with hospitality for 3 days for low income families.</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item abu-dhabi clean-energy" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/UAE-renewable-energy.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">UAE Renewable Energy – Targets and Beyond</h5>
              <p class="card-text">Clean energy markets, especially in solar power, have the potential to emerge as potent avenues for lucrative investment in the UAE</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Abu Dhabi</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai health" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/sanad-relay.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Sanad Relay</h5>
              <p class="card-text">A service to enable people with hearing disabilities or speech difficulties to communicate with people</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item dubai" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/kamel-project.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Kamel Project</h5>
              <p class="card-text">A one-year study program to help people with low-income financial benefit complete their undergraduate studies and learn English to be empowred for their future jobs.</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Dubai</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>

        <article class="col-12 col-sm-6 col-12 col-md-4 article-contributions flex align-items-stretch flex-column match-item element-item abu-dhabi" itemtype="http://schema.org/DonateAction">
          <div class="card">
            <figure class="project-fig">
              <img itemprop="photo" class="img-fluid lazyload" data-src="./assets/images/projects/supporting-UAE-marine.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Event Feature Img test" />
            </figure>
            <div class="card-body d-flex align-items-start flex-column">
              <h5 class="card-title">Supporting UAE Marine Important Areas for Biodiversity project</h5>
              <p class="card-text">Supporting UAE Marine Important Areas for Biodiversity project aims to increase the resiliency of current marine protected areas in the UAE Gulf waters to the existing threats due to climate change and human uses.</p>
              <div class="info">
                <dl class="dl-list d-list-hidden">
                  <dt>Points:</dt>
                  <dd itemprop="price" class="val-point">100</dd>
                </dl>
                <dl class="dl-list">
                  <dt>Emirate:</dt>
                  <dd class="var-emirate" temprop="description" >Abu Dhabi</dd>
                </dl>
              </div>
              <footer class="d-flex flex-nowrap btn-wr">
                  <a class="btn btn-primary btn-sm" href="#">Contribute</a>
                  <a class="btn btn-outline-primary btn-sm" href="#">Read more</a>
              </footer>
            </div>
          </div>
        </article>


    </div>

    <footer class="mt-4 d-flex justify-content-center row">
        <a href="#" class="btn btn-outline-primary">See all contributions</a>
    </footer>

</div> 