<div class="property-container container">
    <!-- Additional required wrapper -->
    <div class="property-wrapper grid row d-flex justify-content-between flex-wrap">

        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/casa-viva-at-serena.jpg">
                <img itemprop="image" data-src="./assets/images/property/casa-viva-at-serena.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Serena Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">Casa Viva at Serena</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/arabella.jpg">
                <img itemprop="image" data-src="./assets/images/property/arabella.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Mudon Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">Arabella</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/amaranta.jpg">
                <img itemprop="image" data-src="./assets/images/property/amaranta.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Villanova Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">Amaranta</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>
        
        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/mudon-views.jpg">
                <img itemprop="image" data-src="./assets/images/property/mudon-views.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Mudon Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">Mudon Views</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/casa-dora-at-serena.jpg">
                <img itemprop="image" data-src="./assets/images/property/casa-dora-at-serena.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Serana Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">Casa Dora at Serena</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- property -->
        <article class="col-12 col-sm-4 property" itemscope itemtype="http://schema.org/Product">
            <figure class="lazyload" data-bg="./assets/images/property/la-quinta.jpg">
                <img itemprop="image" data-src="./assets/images/property/la-quinta.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid property-img" />
                <figcaption>
                    Villanova Community
                </figcaption>
            </figure>
            <div class="content">
                <header>
                    <h1 class="title  d-flex align-items-end" data-line="2" >
                        <span class="ellipsis ellipsis-xs max" itemprop="name">La Quinta</span>
                    </h1>
                    <p class="price-wr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <strong class="price">
                            from 
                            <span class="curr" itemprop="priceCurrency" content="AED">
                                AED
                            </span>
                            <span class="val" itemprop="price" content="1388000">
                                1,388,000
                            </span>
                        </strong>
                    </p>
                </header>
                <div class="desc-wr ">
                    <div class="d-block">
                        <p class="desc ellipsis ellipsis-xs max" data-line="4" itemprop="description">With beautiful views onto the lush green Mudon Central Park and many ways to stay active, Mudon views is perfectly situated for a vibrant, fulfilling lifestyle. </p>
                    </div>
                </div>
            </div>
        </article>

        

        <!--<footer class="col-12">
            <button type="button" class="btn btn-outline-primary">
                <span>More properties</span>
            </button>
        </footer>-->
        
        
    </div>
    
</div>