<div class="container-fluid main-slider-container">
    <div class="row">
        <div class="swiper-container main-slider loading">
            <div class="swiper-wrapper">
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/properties.jpg" >
                          <img data-src="./assets/images/slides/properties.jpg" class="entity-img swiper-lazy" />
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                      <div class="inner-wr">
                                          <span class="line line-a"></span>
                                          <div class="prime">
                                              <h2 class="title">
                                                  <span class="title-text"><span>Discover<br/> your own<br/> oasis</span></span>
                                              </h2>
                                                  <div class="caption">
                                                  </div>
                                          </div>
                                          <span class="line-b-wr">
                                              <span class="line line-b"></span>
                                          </span>
                                      </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/discover.jpg" >
                          <img data-src="./assets/images/slides/discover.jpg" class="entity-img swiper-lazy" />
                          <div class="swiper-lazy-preloader"></div>
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                  <div class="inner-wr">
  
                                      <span class="line line-a"></span>
  
                                      <div class="init is-hidden">
                                          <span class="text">Scroll to begin</span>
                                      </div>
  
                                      <div class="info-wr">
                                          <div class="prime">
                                              <div class="prime-inner">
                                                  <h2 class="title">
                                                      
                                                      <span class="title-text"><span>Properties <br>Properties</span></span>
                                                      
                                                  </h2>
                                                  
                                              </div>
                                          </div>
                                          <div class="desc-wr">
                                              <div class="desc">
                                                  <p >Explore our range of luxury properties and access the latest updates on our key real estate projects</p>
                                                  <p><a href="#">View all our property listings</a></p>
                                              </div>
                                          </div>
                                      </div>
  
                                      <span class="line-b-wr">
                                          <span class="line line-b"></span>
                                      </span>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/offers.jpg">
                          <img data-src="./assets/images/slides/offers.jpg" class="entity-img swiper-lazy" />
                          <div class="swiper-lazy-preloader"></div>
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                      <div class="inner-wr">
  
                                          <span class="line line-a"></span>
  
                                          <div class="init is-hidden">
                                              <span class="text"></span>
                                          </div>
  
                                          <div class="info-wr">
                                              <div class="prime">
                                                  <div class="prime-inner">
                                                      <h2 class="title">
                                                          
                                                          <span class="title-text"><span>Offers</span></span>
                                                          
                                                      </h2>
                                                      
                                                  </div>
                                              </div>
                                              <div class="desc-wr">
                                                  <div class="desc">
                                                  <p>View our latest promotions and offers and find the best deals.</p>
                                                  <p><a href="#">Discover more offers</a></p>
                                                  </div>
                                              </div>
                                          </div>
  
                                          <span class="line-b-wr">
                                              <span class="line line-b"></span>
                                          </span>
  
                                      </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/destinations.jpg">
                          <img data-src="./assets/images/slides/destinations.jpg" class="entity-img swiper-lazy" />
                          <div class="swiper-lazy-preloader"></div>
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                  <div class="inner-wr">
  
                                      <span class="line line-a"></span>
  
                                      <div class="init is-hidden">
                                          <span class="text"></span>
                                      </div>
  
                                      <div class="info-wr">
                                          <div class="prime">
                                              <div class="prime-inner">
                                                  <h2 class="title">
                                                      
                                                      <span class="title-text"><span>Destinations</span></span>
                                                      
                                                  </h2>
                                                  
                                              </div>
                                          </div>
                                          <div class="desc-wr">
                                              <div class="desc">
                                                  <p>Choose your ideal property in Dubai and experience way of living in a space you can call home.</p>
                                                  <p><a href="#">Explore all our destinations</a></p>
                                              </div>
                                          </div>
                                      </div>
  
                                      <span class="line-b-wr">
                                          <span class="line line-b"></span>
                                      </span>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/about.jpg">
                            <img data-src="./assets/images/slides/about.jpg" class="entity-img swiper-lazy" />
                          <div class="swiper-lazy-preloader"></div>
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                  <div class="inner-wr">
  
                                      <span class="line line-a"></span>
  
                                      <div class="init is-hidden">
                                          <span class="text"></span>
                                      </div>
  
                                      <div class="info-wr">
                                          <div class="prime">
                                              <div class="prime-inner">
                                                  <h2 class="title">
                                                      
                                                      <span class="title-text"><span>About</span></span>
                                                      
                                                  </h2>
                                                  
                                              </div>
                                          </div>
                                          <div class="desc-wr">
                                              <div class="desc">
                                                  <p>Dubai Properties is one of the leading real estate developers in Dubai and is also a major contributor to realizing the vision of Dubai</p>
                                                  <p><a href="#">Find out all about us</a></p>
                                              </div>
                                          </div>
                                      </div>
  
                                      <span class="line-b-wr">
                                          <span class="line line-b"></span>
                                      </span>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
                  <article class="swiper-slide">
                      <figure class="slide-bgimg swiper-lazy" data-background="./assets/images/slides/construction.jpg">
                          <img data-src="./assets/images/slides/construction.jpg" class="entity-img swiper-lazy" />
                      <div class="swiper-lazy-preloader"></div>
                      </figure>
                      <div class="content">
                          <div class="content-wr">
                              <div class="inner">
                                  <div class="inner-wr">
  
                                      <span class="line line-a"></span>
  
                                      <div class="init is-hidden">
                                          <span class="text"></span>
                                      </div>
  
                                      <div class="info-wr">
                                          <div class="prime">
                                              <div class="prime-inner">
                                                  <h2 class="title">
                                                      
                                                      <span class="title-text"><span>Construction</span></span>
                                                      
                                                  </h2>
                                                  
                                              </div>
                                          </div>
                                          <div class="desc-wr">
                                              <div class="desc">
                                                  <p>From mixed-use skyscrapers to ultra-luxury residential properties and everything in between, stay on top of Dubai Properties exciting new and upcoming real estated developments.</p>
                                                  <p><a href="#">Find our more</a></p>
                                              </div>
                                          </div>
                                      </div>
  
                                      <span class="line-b-wr">
                                          <span class="line line-b"></span>
                                      </span>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </article>
  
  
                  <footer class="swiper-slide footer" role="contentinfo">
                      <div class="container sitemap match d-flex align-items-center">
                  
                          <div class="row">
                  
                              <div class="col-6 col-sm-3 col-md-3 mb-3 mb-sm-0">
                                  <ul class="list-unstyled">
                                      <li>
                                          <a href="#">Villas</a>
                                      </li>
                                      <li>
                                          <a href="#">Townhouses</a>
                                      </li>
                                      <li>
                                          <a href="#">Apartments</a>
                                      </li>
                                      <li>
                                          <a href="#">Dubai Properties</a>
                                      </li>
                                      <li>
                                          <a href="#">Dubai Properties Group</a>
                                      </li>
                                      <li>
                                          <a href="#">Contact</a>
                                      </li>
                                      <li>
                                          <a href="#">Login or Sign up</a>
                                      </li>
                                      <li>
                                          <a href="#">Make an Enquiry</a>
                                      </li>
                                  </ul>
                              </div>
                  
                              <div class="col-6 col-sm-3 col-md-3 mb-3 mb-sm-0">
                                  <ul class="list-unstyled">
                                      <li>
                                          <a href="#">Blog</a>
                                      </li>
                                      <li>
                                          <a href="#">Media</a>
                                      </li>
                                      <li>
                                          <a href="#">Careers</a>
                                      </li>    
                                      <li>
                                          <a href="#">FAQs</a>
                                      </li>    
                                      <li>
                                          <a href="#">Terms & Conditions</a>
                                      </li>    
                                      <li>
                                          <a href="#">Phising Disclaimer</a>
                                      </li>    
                                      <li>
                                          <a href="#">Whistleblowing</a>
                                      </li>    
                                      <li>
                                          <a href="#">Brokers</a>
                                      </li>                     
                                  </ul>
                              </div>
                  
                              
                              <div class="col-6 col-sm-6 col-md-6 mb-0 md-sm-0 d-flex align-content-between flex-wrap">
                                  
                                  <div class="">
                  
                                  </div>
                                      <div class="input-group">
                                          <input type="text" class="form-control" placeholder="Sign up to recieve our latest news and offers" aria-label="Sign up to recieve our latest news and offers">
                                          <div class="input-group-append">
                                              <button class="btn btn-text d-flex flex-nowrap align-items-center justify-content-between" type="button">
                                                  Sign
                                                  <span class="d-flex align-items-center justify-content-center btn-icon-wr">
                                                      <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/arrow-right.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
                                                      </span>
                                              </button>
                                          </div>
                                      </div>
                                  
                                  <div class="social-wr d-flex align-items-center mb-4 mb-sm-0">
                                      <h2 class="d-inline title sr-only">Stay Connected</h2>
                                      <ul class="list-inline d-flex justify-content-center justify-content-sm-end my-0 social-links">
                                          <li class="list-inline-item">
                                              <a href="#" class="social-icon social-link">
                                                  <i class="fab fa-facebook-f"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a href="#" class="social-icon social-link">
                                                  <i class="fab fa-twitter"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a href="#" class="social-icon social-link">
                                                  <i class="fab fa-instagram"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a href="#" class="social-icon social-link">
                                                  <i class="fab fa-linkedin"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a href="#" class="social-icon social-link">
                                                  <i class="fab fa-youtube"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                  
                                  <p class="d-block mb-2 my-sm-0 text-sm-left text-center copyright w-100">Copyright © 2018 Dubai Properties. All rights reserved.</p>
                  
                              </div>
                              
                          </div>
                      </div>
                  
                  </footer>
  
            </div>
            <!-- If we need navigation buttons -->
            <!--<div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>-->
        </div>
    </div>
  </div>
  
  