<section class="section-light section-light-03 section-slider py-5 py-sm-5 py-md-7 py-lg-7 py-xl-7">
    <div class="row h-100 d-flex align-items-center">
        <div class="col text-content text-center">
            <h1 class="content-title">
                <small>
                    What people are
                </small>
                <span>
                    Saying About Us
                </span>
            </h1>
            <div class="container ">
                <div class="row">
                    <div class="col-12">    
                        <div class="swiper-container slider-testimonials">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <figure class="swiper-slide" itemscope itemtype="http://schema.org/Review">
                                    <blockquote class="blockquote">
                                        <p><q itemprop="review">Awesome support! They went above and beyond. We asked for help and they ended up practically doing the job for us. Thanks!</q></p>
                                        <footer itemscope itemtype="http://schema.org/Person">
                                            <span itemprop="name">Lutita02 - Themeforest</span>
                                        </footer>
                                    </blockquote>
                                </figure>
                                <figure class="swiper-slide" itemscope itemtype="http://schema.org/Review">
                                    <blockquote class="blockquote">
                                        <p><q itemprop="review">Awesome support! They went above and beyond. We asked for help and they ended up practically doing the job for us. Thanks!</q></p>
                                        <footer itemscope itemtype="http://schema.org/Person">
                                            <span itemprop="name">Lutita02 - Themeforest</span>
                                        </footer>
                                    </blockquote>
                                </figure>
                                <figure class="swiper-slide" itemscope itemtype="http://schema.org/Review">
                                    <blockquote class="blockquote">
                                        <p><q itemprop="review">Awesome support! They went above and beyond. We asked for help and they ended up practically doing the job for us. Thanks!</q></p>
                                        <footer itemscope itemtype="http://schema.org/Person">
                                            <span itemprop="name">Lutita02 - Themeforest</span>
                                        </footer>
                                    </blockquote>
                                </figure>
                            </div>
                            <!-- If we need pagination
                            <div class="swiper-pagination"></div> -->

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need scrollbar 
                            <div class="swiper-scrollbar"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>