<div class="swiper-container slider-associates ">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/AACE.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/ASPED-full.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/Bicsi.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/BIFM.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/CIBSE.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/CNGMEC.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/GSMA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/HFAESGC-full.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/ICCA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/IFE-international.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/Les-Clefs.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/Marketing-Society.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/MEFMA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/MEIRA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/MENAFA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/MENALAC.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/NI.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/PAIRS.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/UITP.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/wfzo.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
            <img data-src="./assets/images/associates/live/YPO.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
            <div class="swiper-lazy-preloader"></div>
        </figure>
        <figure class="swiper-slide">
                <img data-src="./assets/images/associates/live/MEGA.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="swiper-lazy img-fluid" alt="Associate Name">
                <div class="swiper-lazy-preloader"></div>
            </figure>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination d-flex align-items-center justify-content-center"></div>

    <!-- If we need navigation buttons 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->

    <!-- If we need scrollbar
    <div class="swiper-scrollbar"></div> -->
</div>