<div class="swiper-container slider-event">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper grid">
        <!-- Slides -->
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-01.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>

        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-02.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-03.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-04.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-01.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-02.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-03.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        <figure class="effect-goliath swiper-slide">
            <img data-src="./assets/images/events/dummy-event-04.jpg" class="swiper-lazy img-fluid">
            <figcaption>
                <div class="desc-wr">
                    <h2 class="title">Event Title</h2>
                    <div class="desc ">
                        <div class="d-none d-sm-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
                        </div>
                    </div>
                </div>
                <div class="info-wr">
                    <div class="row d-flex flex-row flex-nowrap justify-content-center">
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-calendar"></i>
                                <span class="info-label">Sat, 8 Apr</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="far fa-clock"></i>
                                <span class="info-label">20:00 - 23:00</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 info-col">
                            <div class="d-flex flex-sm-column flex-row align-items-center row-eq-height">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="info-label">Dubai Media City</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </figcaption>
            <a href="#" class="d-none d-sm-block d-link">View more</a>
            <div class="m-link-wr d-flex d-sm-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
            <div class="swiper-lazy-preloader"></div>			
        </figure>
        

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
        
    <!-- If we need scrollbar 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>-->

</div>