<div class="projects-container resources-container">
    <!-- Additional required wrapper -->
    <div class="projects-wrapper grid row condensed-row d-flex justify-content-between flex-wrap">

        <!-- Slide -->
        <article class="effect-goliath col-6">
            <figure class="lazyload" data-bg="./assets/images/projects/project-dummy-thumb-01.jpg">
                <img data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid">
            </figure>
            <div class="content">
                <header class="desc">
                    <h2 class="title ellipsis ellipsis-xs max" data-line="2">Event Title Event Title Event Title Event Title Event Title Event Title Event Title Event Title</h2>
                </header>
                
            </div>
            <a href="#" class="d-none d-md-block d-link">View more</a>
            <div class="m-link-wr d-flex d-md-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
        </article>

        <article class="effect-goliath col-6">
            <figure class="lazyload" data-bg="./assets/images/projects/project-dummy-thumb-01.jpg">
                <img data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid">
            </figure>
            <div class="content">
                <header class="desc">
                    <h2 class="title">Event Title</h2>
                </header>
                
            </div>
            <a href="#" class="d-none d-md-block d-link">View more</a>
            <div class="m-link-wr d-flex d-md-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
        </article>

        <article class="effect-goliath col-6">
            <figure class="lazyload" data-bg="./assets/images/projects/project-dummy-thumb-01.jpg">
                <img data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid">
            </figure>
            <div class="content">
                <header class="desc">
                    <h2 class="title">Event Title</h2>
                </header>
                
            </div>
            <a href="#" class="d-none d-md-block d-link">View more</a>
            <div class="m-link-wr d-flex d-md-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
        </article>

        <article class="effect-goliath col-6">
            <figure class="lazyload" data-bg="./assets/images/projects/project-dummy-thumb-01.jpg">
                <img data-src="./assets/images/projects/project-dummy-thumb-01.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload img-fluid">
            </figure>
            <div class="content">
                <header class="desc">
                    <h2 class="title">Event Title</h2>
                </header>
                
            </div>
            <a href="#" class="d-none d-md-block d-link">View more</a>
            <div class="m-link-wr d-flex d-md-none align-items-center justify-content-center">
                <a href="#" class="m-link btn btn-sm btn-outline-light">Read More</a>
            </div>
        </article>
        
        
    </div>
    
</div>