<article class="tab-pane fade tab-coffee-machines" id="coffee-machines" role="tabpanel" aria-labelledby="coffee-machines-tab">

    <h1 class="sr-only">Coffee Machines</h1>


    <div class="swiper-container coffee-machines-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
    
            <!-- Slides --> <!-- copy/paste this to add another slide -->
            <article class="swiper-slide">
        
                <div class="swiper-slide-inner-container d-flex align-items-center justify-content-center">
                    <div class="d-flex text-left swiper-slide-flex">

                        <div class="col-7">
                            <h1 class="title">
                                MOVENZA AUTOMATIC SILVER
                            </h1>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including a unique automatic opening mechanism.
                            </p>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including.
                            </p>
                            <button type="button" class="btn btn-dark btn-sm btn-rounded">
                                <span>Buy Now</span>
                            </button>
                        </div>
                        
                        <figure class="feat-fig">
                            <img data-src="./assets/images/machines/movenza@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="feat-machine swiper-lazy img-fluid" alt="machine">
                            <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                            <div class="swiper-lazy-preloader"></div>                    
                        </figure>
                    </div>

                </div>
        
            </article>
            <article class="swiper-slide">
        
                <div class="swiper-slide-inner-container d-flex align-items-center justify-content-center">
                    <div class="d-flex text-left swiper-slide-flex">

                        <div class="col-7">
                            <h1 class="title">
                                MOVENZA AUTOMATIC SILVER
                            </h1>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including a unique automatic opening mechanism.
                            </p>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including.
                            </p>
                            <button type="button" class="btn btn-dark btn-sm btn-rounded">
                                <span>Buy Now</span>
                            </button>
                        </div>
                        
                        <figure class="feat-fig">
                            <img data-src="./assets/images/machines/movenza@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="feat-machine swiper-lazy img-fluid" alt="machine">
                            <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                            <div class="swiper-lazy-preloader"></div>                    
                        </figure>
                    </div>

                </div>
        
            </article>
            <article class="swiper-slide">
        
                <div class="swiper-slide-inner-container d-flex align-items-center justify-content-center">
                    <div class="d-flex text-left swiper-slide-flex">

                        <div class="col-7">
                            <h1 class="title">
                                MOVENZA AUTOMATIC SILVER
                            </h1>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including a unique automatic opening mechanism.
                            </p>
                            <p class="desc">
                                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including.
                            </p>
                            <button type="button" class="btn btn-dark btn-sm btn-rounded">
                                <span>Buy Now</span>
                            </button>
                        </div>
                        
                        <figure class="feat-fig">
                            <img data-src="./assets/images/machines/movenza@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  class="feat-machine swiper-lazy img-fluid" alt="machine">
                            <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                            <div class="swiper-lazy-preloader"></div>                    
                        </figure>
                    </div>

                </div>
        
            </article>

            
            
            <!-- Slides End -->
    
        </div>
    
        <!-- If we need pagination -->
        <div class="swiper-pagination d-flex align-items-center text-center justify-content-center"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev d-flex align-items-center text-center justify-content-end">
        <span class="d-flex align-items-center justify-content-center btn-icon-wr">
            <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-left.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
        </span>
        </div>
        <div class="swiper-button-next d-flex align-items-center text-center justify-content-start">
        <span class="d-flex align-items-center justify-content-center btn-icon-wr">
            <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-right.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
        </span>
        </div>
    
        <!-- If we need scrollbar
        <div class="swiper-scrollbar"></div> -->
    
    
    </div>


</article>