<article class="tab-pane fade show active tab-features" id="lumio-features" role="tabpanel" aria-labelledby="pills-home-tab">
  <div class="tab-features-bg-wr lazyload" data-bg="./assets/images/features/triangle.svg"></div>
  <div class="d-flex align-items-center flex-column justify-content-start tab-features-inner">
    
    <header class="text-center header">
      
      <p class="price mb-0 d-block d-sm-none">
        <span class="curr">AED</span>
        <span class="val">849.00</span>
        <span class="curr"></span>
      </p>
      <h1 class="d-block d-sm-none title">DOLCE GUSTO <br>LUMIA</h1>
      <p class="d-none d-sm-block">
        Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from a short Ristretto to a long Grande Intenso. 
      </p>
    </header>
    <p class="desc d-block d-sm-none">
      Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from a short Ristretto to a long Grande Intenso. 
    </p>
    <figure class="machine-wr d-block d-sm-none">
        <img class="img-fluid offset-machine lazyload" data-src="./assets/images/features/machine@2x.png" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
    </figure>
    <footer class="d-block d-sm-none w-100">
      <div class="col-12 d-flex mb-3">
        <a href="#" class="btn btn-primary btn-rounded animated delay-500ms btn-block" data-animate="fadeInUp">
          <span class="text">Buy Now</span>
        </a>
      </div>
      <div class="col-12 d-flex mb-3">
        <a href="#" class="btn btn-primary btn-rounded animated delay-500ms btn-block" data-animate="fadeInUp">
            <span class="text">Play  Video</span>
        </a>  
      </div>
    </footer>

    <!--hidden in mobile-->
    <section class="features-content-tabs my-auto d-none d-sm-block">
      <div class="row">
        <h1 class="sr-only">LUMIA Features</h1>
        <div class="col-12 col-12 top d-flex justify-content-between align-items-center lazyload" data-bg="./assets/images/2nd-section/features-top-bg.jpg">
          <div class="col-4">
            <p class="price mb-0">
              <span class="curr">AED</span>
              <span class="val">849.00</span>
              <span class="curr"></span>
            </p>
          </div>
          <div class="col-4">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="burger-tab" data-toggle="tab" href="#burger" role="tab" aria-controls="burger" aria-selected="true">
                    <span class="d-flex align-items-center justify-content-center btn-icon-wr">
                        <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-burger.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="capsule-tab" data-toggle="tab" href="#capsule" role="tab" aria-controls="capsule" aria-selected="false">
                      <span class="d-flex align-items-center justify-content-center btn-icon-wr">
                          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-capsule.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
                      </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="clock-tab" data-toggle="tab" href="#clock" role="tab" aria-controls="clock" aria-selected="false">
                      <span class="d-flex align-items-center justify-content-center btn-icon-wr">
                          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-clock.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
                      </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="cup-tab" data-toggle="tab" href="#cup" role="tab" aria-controls="cup" aria-selected="false">
                      <span class="d-flex align-items-center justify-content-center btn-icon-wr">
                          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-cup.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
                      </span>
                  </a>
                </li>
              </ul>
          </div>
            
          
        </div>
        
        <div class="body d-flex justify-content-between align-items-center lazyload" data-bg="./assets/images/2nd-section/features-body-bg.jpg">
          <div class="col-4 body-main">
            <h1 class="title">
                DOLCE GUSTO LUMIA
            </h1>
            <p>
                A stylish automatic pod coffee machine, NESCAFÉ® Dolce Gusto® Movenza has advanced features including a unique automatic opening mechanism.
            </p>
            <p>
                NESCAFÉ® Dolce Gusto® Movenza has advanced features including a unique automatic opening mechanism.                    
            </p>
          </div>
          <div class="col-4 body-feat-img">
            <figure class="machine-wr">
                <img class="img-fluid offset-machine lazyload" data-src="./assets/images/features/machine@2x.png" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
            </figure>
          </div>
          <div class="col-4 body-tabs">
            <div class="tab-content sub-tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="burger" role="tabpanel" aria-labelledby="home-tab">
                <div class="tab-content-video-bg w-100 lazyload" data-bg="./assets/images/2nd-section/vid-bg/dolce-gusto-vid-bg.jpg">
                    <div class="full-video-wr h-100">
                      <div id="P1" class="tab-player" data-property="{videoURL:'l_tHTmd5pgk',containment:'self',showControls:true,startAt:1,vol:100,mute:false,autoPlay:false,loop:false,opacity:1,showYTLogo:false, optimizeDisplay:true}">
                      </div>
                    </div>
                </div>
                <p class="desc">Slide in a capsule and create the perfect drink using the scroll wheel and LED interface.</p>
              </div>
              <div class="tab-pane fade" id="capsule" role="tabpanel" aria-labelledby="capsule-tab">
                <div class="tab-content-video-bg w-100 lazyload" data-bg="./assets/images/2nd-section/vid-bg/dolce-gusto-vid-bg.jpg">
                    <div class="full-video-wr h-100">
                      <div id="P2" class="tab-player" data-property="{videoURL:'l_tHTmd5pgk',containment:'self',showControls:true,startAt:1,vol:100,mute:false,autoPlay:false,loop:false,opacity:1,showYTLogo:false, optimizeDisplay:true}">
                      </div>
                    </div>
                </div>
                <p class="desc">Slide in a capsule and create the perfect drink using the scroll wheel and LED interface.</p>
              </div>
              <div class="tab-pane fade" id="clock" role="tabpanel" aria-labelledby="clock-tab">
                <div class="tab-content-video-bg w-100 lazyload" data-bg="./assets/images/2nd-section/vid-bg/dolce-gusto-vid-bg.jpg">
                    <div class="full-video-wr h-100">
                      <div id="P3" class="tab-player" data-property="{videoURL:'l_tHTmd5pgk',containment:'self',showControls:true,startAt:1,vol:100,mute:false,autoPlay:false,loop:false,opacity:1,showYTLogo:false, optimizeDisplay:true}">
                      </div>
                    </div>
                </div>
                <p class="desc">Slide in a capsule and create the perfect drink using the scroll wheel and LED interface.</p>
              </div>
              <div class="tab-pane fade" id="cup" role="tabpanel" aria-labelledby="cup-tab">
                cup
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 cta-wr">
          <div class="row">
            <div class="col-6 d-flex justify-content-end">
              <a href="#" class="btn btn-primary btn-rounded animated delay-500ms" data-animate="fadeInUp">
                <span class="text">Buy Now</span>
              </a>
            </div>
            <div class="col-6 d-flex justify-content-start">
              <a href="#" class="btn btn-primary btn-rounded animated delay-500ms" data-animate="fadeInUp">
                  <span class="text">Play  Video</span>
              </a>  
            </div>
          </div>
        </div>

      </div>
    </section>

    
    
  </div>
  
  <!-- visible in mobile -->

  <section class="features-content-rows my-auto d-flex flex-column justify-content-between d-sm-none">
      <h1 class="sr-only">LUMIA Features</h1>

      <article class="feat-mobile">
        <figure class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-burger.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
        </figure>
        <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </article>

      <article class="feat-mobile">
        <figure class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-capsule.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
        </figure>
        <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </article>

      <article class="feat-mobile">
        <figure class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-clock.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
        </figure>
        <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </article>

      <article class="feat-mobile">
        <figure class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg" data-src="./assets/images/2nd-section/icon-cup.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="">
        </figure>
        <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </article>

    </section>


</article>