<article class="tab-pane fade tab-flavours" id="flavours" role="tabpanel" aria-labelledby="pills-profile-tab">
  
  <h1 class="sr-only">Flavours</h1>
    
    
  <div class="swiper-container flavours-slider lazyload" data-bg="./assets/images/2nd-section/flavours-bg.png">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides --> <!-- copy/paste this to add another slide -->
      
      ${require('./tabs-flavours-slides.html')}

      <!-- Slides End -->

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination d-flex align-items-center text-center justify-content-center"></div>

    <!-- If we need navigation buttons -->
    <!--<div class="swiper-button-prev d-flex align-items-center text-center justify-content-end">
      <span class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-left.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
      </span>
    </div>
    <div class="swiper-button-next d-flex align-items-center text-center justify-content-start">
      <span class="d-flex align-items-center justify-content-center btn-icon-wr">
          <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-right.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
      </span>
    </div>-->

    <!-- If we need scrollbar
    <div class="swiper-scrollbar"></div> -->


  </div>

  <div class="flavours-slider-custom-nav d-flex align-items-center justify-content-between">
    <div class="swiper-button-prev d-flex align-items-center text-center justify-content-end">
        <span class="d-flex align-items-center justify-content-center btn-icon-wr">
            <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-left.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
        </span>
      </div>
      <div class="swiper-button-next d-flex align-items-center text-center justify-content-start">
        <span class="d-flex align-items-center justify-content-center btn-icon-wr">
            <img class="img-fluid btn-icon svg svg-white" data-src="./assets/images/icons/caret-right.svg" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt="arrow-right">
        </span>
      </div>
  </div>

</article>


  
