<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    EXPRESSO
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/espresso-capsule@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Intenso
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-1.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Intenso.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Latte Macchiato Caramel
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-2.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Caramel.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Cafe AU latte
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-3.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Cafe-AU-latte.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Cappucino
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-4.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Cappucino.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    EXPRESSO
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-5.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Caramel.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Chai TEA Latte
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-6.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Chai-TEA-Latte.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Chococino
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-7.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Chococino.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Cortado
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-8.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Cortado.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    DECAFFEIN
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-9.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/DECAFFEIN.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    EXPRESSO
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-10.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Esspresso.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Flat White
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-11.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Flat-White.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    EXPRESSO
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-12.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Intenso.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Latte Machiato
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/cups/Cup-13.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Latte-Machiato.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Marakesh
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Marakesh.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Nesquik
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Nesquik.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    RISTRETTO
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/RISTRETTO.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Sknny
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Sknny.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>

<article class="swiper-slide">

    <div class="container swiper-slide-inner-container">
        <div class="row d-flex align-items-center text-center justify-content-center swiper-slide-flex">
            <div class="col-11 col-sm-10 col-md-6 col-lg-7 content-white swiper-slide-col">
                <h1 class="title">
                    Vanilla
                </h1>
                <p class="desc">
                    Our Lumio capsule coffee machine lets you enjoy an incredibly large range of coffee creations: from
                    a short Ristretto to a long Grande Intenso.
                </p>

                <div class="feat">
                    <figure class="feat-fig">
                        <div class="info d-flex flex-column align-items-center text-center justify-content-center">
                            <div class="count">
                                2
                            </div>
                            <ul class="bullets d-flex align-items-center text-center justify-content-center">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="label">
                                INTENSITY
                            </div>
                        </div>
                        <img data-src="./assets/images/flavours/espresso-cap@2x.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-cup swiper-lazy img-fluid" alt="cup">
                        <img data-src="./assets/images/flavours/capsules/Vanilla.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            class="feat-capsule swiper-lazy img-fluid" alt="capsule">
                        <div class="swiper-lazy-preloader"></div>
                        <figcaption class="sr-only">Dolce Gusto Expresso</figcaption>
                    </figure>
                </div>


                <button type="button" class="btn btn-primary btn-rounded">
                    <span>Buy Now</span>
                </button>
            </div>
        </div>
    </div>

</article>