  <div class="team-member-wr grid no-gutters d-flex-row d-flex flex-wrap">
    
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="~img/about-us/team-member-01.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="../../assets/images/about-us/team-member-02.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="../../assets/images/about-us/team-member-03.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="../../assets/images/about-us/team-member-04.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="../../assets/images/about-us/team-member-05.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
    <figure class="team-member effect-goliath col-6 col-sm-4">
      <img src="../../assets/images/about-us/team-member-06.jpg" class="img-fluid w-100">
      <figcaption>
        <div class="desc-wr">
          <h2 class="title">Team Member</h2>
          <div class="desc ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla nulla at ante sodales luctus.</p>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>