<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .loading,
        .page-hidden{
            opacity: 0;
            visibility: hidden;
        }
        .loading,
        .page-hidden{
            height: 0;
            overflow: hidden;
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="en focus-home" >

    <div class="floating-menu-wr d-none d-sm-flex flex-column justify-content-center align-items-center">
        <ul class="floating-fp-menu">
            <li data-menuanchor="firstPage" class="active">
                <a href="#firstPage">
                    <span class="sr-only">First Section</span>
                    <span class="dot"></span>
                </a>
            </li>
            <li data-menuanchor="secondPage">
                <a href="#secondPage">
                    <span class="sr-only">Seconde Section</span>
                    <span class="dot"></span>
                </a>
            </li>
            <li data-menuanchor="thirdPage">
                <a href="#thirdPage">
                    <span class="sr-only">Third Section</span>
                    <span class="dot"></span>
                </a>
            </li>
        </ul>
        <ul class="list-inline d-flex flex-column justify-content-center align-items-center  my-0 social-links">
            <li class="list-inline-item">
                <a href="#" class="social-icon social-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="social-icon social-link">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
    
    <main  id="fullpage" class="loading-" role="main" itemprop="mainContentOfPage">

        <div class="fp-section">
            <!--<%= require('html-loader!./template/common/nav.html') %>-->
            ${require('./template/common/nav.html')}
                
            <!--<%= require('html-loader!./template/components/hero-banner.html') %>-->
            ${require('./template/components/hero-banner.html')}
        </div>

        <!--<%= require('html-loader!./template/pages/properties.html') %>-->
        ${require('./template/components/features.html')}

        ${require('./template/components/coffee-corner.html')}
        
    </main>

    ${require('./template/common/popup-promo.html')}

</body>

</html>