
@import './common/colors.scss';


/** single **/
.single-wr{
  margin-top: 2rem;
  .article-single{
    background-color: $light01-a;
    padding:2rem 1.875rem 1.875rem;
    margin: 1.5rem 0 2.5rem;
    margin: 1rem 0 2.5rem;
    &:nth-child(even){
      .content-wr{
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: reverse!important;
        -ms-flex-direction: row-reverse!important;
        flex-direction: row-reverse!important;
        figure{
          margin:0;
        }
      }
    }
    .date{
      font-family: 'Hind-Madurai';
      color: $brand;
      font-size: 1rem;
      font-weight: 600;
    }
    .img-wr{
      margin-top: -0;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: .9rem;
      margin-right: .9rem;
      float: left;
    }
    .position{
      font-family: 'Hind-Madurai';
      color: $brand;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: .3225rem
    }
    .title {
      font-size: 1.5rem;
      font-family: "Martel";
      font-weight: 600;
      color:$accent;
      margin: .3rem 0 .6rem;
      line-break: 1;
    }
    .desc,p{
      font-family: 'MyriadPro';
      font-weight: 300;
      color:$brand-dark;
      font-size: .8rem;
      line-height: 1.7rem;
    }
    p:last-child{
      margin-bottom: 0;
    }
    .social-links{
      margin-bottom: 1rem;
      li{
        .social-link{
          color:$brand-light;

        }
      }
    }
    .post-meta{
      font-size: .875rem;
      color: $accent-color;
      font-family: "MyriadPro";
      margin: 0 0 .85rem;
      margin: 0 0 .6rem;
      dt{
        padding: 0;
      }
    }
  }
}

@media screen and (max-width:1024px) and (orientation:portrait){
  .single-wr{
    .article-single{
      padding: 2rem 1.875rem 1.875rem;
      margin: .5rem 0 2.5rem;
    }
  }
}

@media screen and (max-width:480px) {
  .single-wr{
    .article-single{
      padding:1.5rem 1.875rem 1.875rem;
      margin: 0;
      &:last-of-type{
        margin-bottom: 2rem;
      }
      .figure-mobile {
        margin: 0.625rem 0 0.625rem;
        width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: center center;
      }
      .desc{
        display: block;
        clear: both;
        padding-top: .7rem;
      }
      .post-meta{
        margin: 0;
      }
    }
  }
}


.social-shares{
  margin-bottom: 1.375rem;
  li{
    margin:0 0.75rem;
    &:first-child{
        margin-left:0;
    }
    &:last-child{
        margin-right:0;
    }
    .social-share{
      font-size:1.15rem;
      transition:.35s;
      color: #fff;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: flex;
      background-color: $brand;
      padding: 0;
      .svg-wr{
        box-sizing: content-box;
        width: 1.75rem;
        height: 1.75rem;
        text-align: center;
        display: inline-block;
        padding: 0;
        svg{
          height: 1rem;
          width: auto;
        }
      }
      .text-wr{
        font-size: .8rem;
        font-weight: 300;
        font-family: "MyriadPro";
        text-decoration: none;
        width: 0;
        overflow: hidden;
        transition: all .3s;
        line-height: 1;
      }
      &:hover{
        color:#fff;
        text-decoration: none;
        .text-wr{
          text-decoration: none;  
          width: 2.5rem;         
        }
      }
    }
  }
}

@media screen and (max-width:1024px) and (orientation:portrait){
  .social-shares{
    margin-top: .5rem;
    margin-bottom: .75rem;
    li{
      .social-share{
        .text-wr{
          width: auto;
          padding: 0 0.625rem 0 0;
        }
      }
    }
  }
}